   <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script>
    var commentobj = {
        postid: "572751a90c4fe75e6c8b462b",
        posturl: "https://love.allwomenstalk.com/questions-every-girl-should-ask-herself-before-asking-him-out/"
    }
    </script>
    <script>
    async function share(e, t, s) {
        var a;
        navigator.canShare && (a = {
            url: "https://love.allwomenstalk.com/questions-every-girl-should-ask-herself-before-asking-him-out/",
            text: document.title
        }, t && (t = await (await fetch(t)).blob(), t = [new File([t], "image.jpg", {
            type: "image/jpeg"
        })], a.files = t), navigator.share(a).then(() => {}).catch(console.error))
    }
    function createShare() {
        navigator.share || [].forEach.call(document.querySelectorAll(".sharebtn"), function(e) {
            e.style.visibility = "hidden"
        })
    }
    function showCredit() {
        fetch("https://img.allw.mn/thumbs/54/0ayb943slb4nww19nl3hr6_1080x1350.json").then(e => e.json()).then(e => {
            var t,
                s;
            e && (t = document.querySelector("#coverimage"), s = document.createElement("div"), sourcename = "" != e.source_name ? e.source_name.replace(")", "") : new URL(e.source_url).hostname, s.innerHTML = "<a target='_blank' href='" + e.source_url.replace(")", "") + "' rel='noreferrer'>" + sourcename + "</a>", s.classList.add("drop-shadow", "text-white", "absolute", "opacity-70", "right-0", "text-xs", "-mt-6", "py-1", "px-2"), t.parentNode.insertBefore(s, t), t.parentNode.insertBefore(s, t.nextSibling))
        })
    }
    function loadJs(e) {
        var t = document.createElement("script");
        t.src = e,
        t.setAttribute("defer", "true"),
        document.documentElement.firstChild.appendChild(t)
    }
    setTimeout(function() {
        loadJs("https://allwomenstalk.com/assets/js/autoComplete.min.js"),
        loadJs("https://allwomenstalk.com/assets/js/index.js"),
        loadJs("https://allwomenstalk.com/assets/js/search.js"),
        loadJs("https://unpkg.com/realm-web/dist/bundle.iife.js"),
        loadJs("https://account.allwomenstalk.com/js/cookiecross.js"),
        loadJs("https://account.allwomenstalk.com/js/profile.js"),
        {# loadJs("//unpkg.com/alpinejs"), #}
        loadJs("https://allwoemnstalk.github.io/js/azo.min.js"),
        {# loadJs("/assets/js/comments.js"), #}
        loadJs("https://allwomenstalk.com/widget/app.js"),
        showCommentForm(),
        showCredit()
    }, 2500)
    </script>

