<div x-data="azo('',6)" @scroll.window.throttle="check({{loopNumber}})"  id="azo-{{loopNumber}}" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-4 px-4 max-w-screen-xl mx-auto">

<template x-for="item in list">

<a :href="item.url" 
   class="_gptblocksarchives text-gray-900 rounded-lg hover:opacity-70 relative bg-teal-700" 
   {# title="8 Brilliant Masks for Girls with beyond Oily Skin ..." #}
   >
  {# <div class="text-center overflow-hidden bg-cover bg-center rounded-t cardimage">
    <img class="w-full lazyload" 
         width="200" 
         height="200" 
         src="https://resize.img.allw.mn/thumbs/14/wgz9fqjg5vcj8hkb0wny0m_1080x1349.jpg?width=400&amp;height=400" 
         alt="8 Brilliant Masks for Girls with beyond Oily Skin ..." 
         loading="lazy" 
         decoding="async"
    >
  </div> #}
  <div class="border bg-pink-700 text-gray-200 rounded p-4 flex flex-col justify-between leading-normal h-72 cardtitle ">
    <div>
      <p x-text="item.category" class="text-xs  flex items-center uppercase"></p>
      <h2 x-text='item.title' class="uppercase my-2 text-xs sm:text-base lg:text-xs">
        8 Brilliant Masks for Girls with beyond Oily Skin ...
      </h2>
      <p class="text-base">
          <svg x-show="item.hasContent" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-4 opacity-70" viewBox="0 0 16 16">
            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
          </svg>
      </p>
    </div>
    <div class="flex items-center opacity-80">
      <div class="text-xs">
        <div class="m-2"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-4 inline-block" viewBox="0 0 16 16">
            <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
            </svg> AI
        </div>
        <button class="rounded px-2 py-1 absolute right-3 bottom-4 flex" aria-label="Read more">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <use xlink:href="#moreicon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</a>


</template>


</div>
