---
layout: layout/archive.njk
pagination:
  data: categories
  size: 1
  alias: tag
permalink: /{{tag._id}}.allwomenstalk.com/index.html
eleventyComputed:
  title: Allwomenstalk {{ tag.name }}
  description: "{{ tag.description }}"
  url: "https://{{ tag._id }}.allwomenstalk.com/"
---

<div class=" px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-gray-600">category</p>
    <h2 class="mt-6 text-4xl font-bold tracking-tight uppercase text-gray-900 sm:text-6xl">{{tag.name}}</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">{{tag.description}}</p>
  </div>
</div>



<div class="max-w-7xl mx-auto px-4 py-6">
  <h3 class="text-base text-center font-semibold text-gray-900 border-b border-gray-200 py-6 px-2">Latest </h3>
</div>

{% set list = archives[tag._id] %}
{% set category = tag._id %}
{% include "partials/listjs.njk" %}
{# {% include "partials/list.njk" %} #}

{# <button @click="loadmore()" type="button" class="mx-auto rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
  Load More
{% include "partials/listjs.njk" %}
{# {% include "partials/list.njk" %} #}

{# <button @click="loadmore()" type="button" class="mx-auto rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
  Load More
</button> #}
{# {% include "popularblock.njk" %} #}
{# {% include "explore.njk" %} #}
