---
layout: layout/archive.njk
permalink: /allwomenstalk.com/polls/index.html
title: Polls Results
---

<div class=" px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Polls Results</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Visit our site and participate in the exciting polls on our articles. Your opinion matters to us!</p>
  </div>
</div>

{% for item in polldata | shuffle %}

<div class="max-w-md mx-auto my-8">
    <div class="p-4 sm:p-0">
      <h4 class="text-2xl font-bold tracking-tight sm:text-4xl">{{ item.question | safe }}</h4>
      {% if metadata.NODE_ENV == "development" %}
      <p> {{item.total}} </p>
      {% endif %}
      <div class="grid grid-cols-1 gap-4 mt-5 items-center">
        {% set top_answer_count = item.answers[0].count %} {# Assuming the answers are sorted in descending order #}
        {% for answer in item.answers %}
          {% set percentage = (answer.count / top_answer_count) * 100 %}
          <div class="relative rounded-md overflow-hidden bg-gray-500 px-3.5 py-2.5">
            <div class="absolute left-0 top-0 h-full bg-pink-600" style="width: {{ percentage }}%;">
            </div>
            <div class="relative z-10 flex justify-between items-center text-white">
              <span>{{ answer.answer }}</span>
              <span>
                {% if metadata.NODE_ENV == "development" %}
                {{ answer.count }} / 
                {% endif %}
                {{ percentage | round(0) }}%</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>


{% endfor %}

<div x-data="{
    contentVariations: [
    ['Keep contributing your insights!', 'Every vote counts in shaping our content.'],
    ['Your opinion is a brushstroke in the bigger picture.', 'Vote to see more!'],
    ['Make your mark!', 'Cast your vote and influence the next wave of content.'],
    ['Add your voice to the chorus!', 'Every vote helps us tailor better articles.'],
    ['Join the movement of informed voting.', 'Your participation crafts our articles.']
  ],
  chosenContent: '',
  selectRandomContent() {
    this.chosenContent = this.contentVariations[Math.floor(Math.random() * this.contentVariations.length)];
  }
}" x-init="selectRandomContent()"> 

  <div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        <span x-text="chosenContent[0]">Keep the Votes Coming!</span><br>
        <span x-text="chosenContent[1]">Your voice is loud and clear here.</span>
      </h2>
      <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0">
        <a href="https://allwomenstalk.com/" class="rounded-md bg-pink-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">Explore more</a>
        <a href="https://allwomenstalk.com/popular" class="text-sm font-semibold leading-6 text-gray-900">Popular now <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>

</div>

