---
pagination:
  data: archives.all
  size: 14
  alias: archives
permalink: /cdn.allwomenstalk.com/{{ pagination.pageNumber }}.json
---

[
    {%- for post in archives -%}
    {
      "title": "{{ post.title }}",
      "image": "{{ post.imageresize }}",
      "url": "{{ post.url }}",
      "category": "{{ post.category }}"
    }{% if not loop.last %},{% endif %}
    {%- endfor -%}
]
