---
pagination:
  data: categories
  size: 1
  alias: category
eleventyComputed:
  permalink: "{{category._id}}.allwomenstalk.com/poll.json"
---
{%- if polls[category._id] -%}
{%- set poll = polls[category._id] -%}
{%- else -%}
{%- set poll = polls['general'] -%}
{%- endif -%}
{{ poll | json | safe }}

