---
permalink: poll.json
---

[
        {
          "question": "What's your go-to cooking method?",
          "options": [
            "Grilling",
            "Baking",
            "Sauteing",
            "Boiling"
          ]
        },
        {
          "question": "What's your favorite cuisine to cook at home?",
          "options": [
            "Italian",
            "Mexican",
            "Chinese",
            "Indian"
          ]
        },
        {
          "question": "What's your favorite ingredient to use in cooking?",
          "options": [
            "Garlic",
            "Cheese",
            "Tomatoes",
            "Spices"
          ]
        },
        {
          "question": "What's your essential kitchen tool?",
          "options": [
            "Chef's knife",
            "Cutting board",
            "Skillet",
            "Food processor"
          ]
        },
        {
          "question": "What's your favorite meal of the day to cook?",
          "options": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Dessert"
          ]
        },
        {
          "question": "What herb do you use the most in your cooking?",
          "options": [
            "Basil",
            "Rosemary",
            "Thyme",
            "Oregano"
          ]
        },
        {
          "question": "What's your quick and easy recipe when short on time?",
          "options": [
            "Spaghetti",
            "Stir-fry",
            "Grilled cheese",
            "Instant noodles"
          ]
        },
        {
          "question": "What cooking challenge would you like to try?",
          "options": [
            "Complex dessert",
            "Homemade pasta",
            "Multi-course meal",
            "Unusual ingredients"
          ]
        },
        {
          "question": "Who's your favorite celebrity chef?",
          "options": [
            "G. Ramsay",
            "J. Oliver",
            "N. Lawson",
            "I. Garten"
          ]
        },
        {
          "question": "What's your favorite kitchen hack?",
          "options": [
            "Peel ginger w/ spoon",
            "Reduce tomato acidity",
            "Test cake w/ toothpick",
            "Preheat skillet"
          ]
        }
      ]
