---
permalink: allwomenstalk.com/popular/list.json
---
{% set sublist = popularlist %}
{
  "items": [
    {%- for post in sublist | shuffle | slicearr(5) -%}
    {
      "title": "{{ post.title }}",
      "image": "{{ post.imageresize }}",
      "url": "{{ post.url }}",
      "category": "{{ post.category }}",
      "keyword": "{{ post.keyword }}"
    }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ]
}
