    googletag.cmd.push(function() {
      googletag.defineSlot('/5445743/Sticky_1x1', [1, 1], 'stickyunit').setTargeting('Position', ['Above']).addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });

    googletag.cmd.push(function() {
      // Display the ad in the specified slot
      googletag.display('stickyunit');
    });