
  <div class="my-2 w-full h-full">
    <div id="result" class="relative mx-auto flex items-center justify-center max-w-[400px] h-full overflow-hidden rounded-2xl" 
        :class="classes.background + ' ' + aspect">
        
      {# <b id="watermark" class="opacity-50 absolute z-10 text-center font-mono text-[8px] top-2 text-white left-0 right-0 w-full h-full">
        www.allwomenstalk.com
      </b>     #}

      <div @click="autoplay = false; show(position+1)" class="absolute z-10 cursor-pointer top-0 left-0 w-full h-full"></div>

      <div :class="aspect" class="mx-auto p-8 sm:p-12 overflow-hidden grid grid-rows-3 h-full transition-all duration-300 ease-in-out"
          
        >
        {# <div class="grid grid-rows-2 transition-all duration-300  ease-in-out"  #}
              {# :class="{ 'opacity-0 scale-95': isTransitioning, 'opacity-100 scale-100': !isTransitioning }" > #}
          <p id="subheading" 
              {# x-show="block.subheading"  #}
              x-text="block.subheading" :class="classes.subheading" ></p>
          
          <h2 x-text="block.heading " :class="classes.heading" x-transition.opacity.duration.300ms></h2>
        {# </div> #}

        <p x-show="block.paragraph" x-text="block.paragraph" 
          class="transition-all duration-300  ease-in-out" 
          :class="isTransitioning 
                    ? `opacity-0 ${classes.paragraph}` 
                    : `opacity-80 ${classes.paragraph}`"
          x-transition.delay.300ms>
        </p>

        <div x-show="!block.paragraph && position == 0" 
            class="justify-center flex"
            :class="classes.arrow"
            x-transition.opacity.duration.300ms>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
              class="h-8 w-8 text-white opacity-50" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
        </div>
      </div>
    </div>


      <div class=" gap-3 my-4 flex items-center justify-center -mt-5 ">
        <template x-for="(el, i) in Array.from({ length: block.slides })">
        <button @click="show(i)" type="button" 
        class="w-1 h-1 rounded-full bg-white " 
        :class="position == i ? 'opacity-80' : 'opacity-20'"
        aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        </template> 
      </div>

  </div>
