---
layout: layout/amp.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: /{{post.host}}/{{post.slug}}/amp.html
url: https://allwomenstalk.com/index.html
amptitle: "{{title}}"
ampurl: "{{url}}"
ampimage: "{{image}}"
ampcategory: "{{category}}"
eleventyComputed: 
  title: "{{post.title}} - {{metadata.title}}"
---

{% set amp=true %}
{% include 'partials/amp/hero.njk' %}

<main id="content" class="bg-gray-50">
  {% for page in post.pages %}
    <article class="post prose p-4 overflow-hidden mx-auto max-w-xl {% if post.noaff %} _noaff {% endif %} {% if loop.first %}
        first-line:uppercase first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left {%- endif
        -%}">
      {% if page.title %}
        <h3 id="{{ loop.index0 }}" class="not-prose text-3xl md:text-4xl font-bold my-4 md:my-6">
          {% if page.number %}
            {{ page.number }}.
          {% endif %}
          {{ page.title | safe }}
        </h3>
      {% endif %}
      {{ page.pageContent | enhanceLists | safe }}
    </article>
    

  {% endfor %}

  {% include 'partials/amp/faq.njk'%}
  
  {% include 'partials/amp/google.njk'%}
  {# {% include "partials/herostats.njk" %} #}
  {# {% include 'partials/herogamification.njk' %} #}
</main>

{# {% include 'partials/iniret.njk' %} #}
{# {% include 'partials/relatedbadges.njk' %} #}
{% include 'partials/schema.njk' %}


