---
layout: layout/default.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: /{{post.host}}/{{post.slug}}/
url: https://allwomenstalk.com/index.html
amptitle: "{{title}}"
ampurl: "{{url}}"
ampimage: "{{image}}"
ampcategory: "{{category}}"
eleventyComputed: 
  title: "{{post.title}} - {{metadata.title}}"
  content: "{{post.content}}"
---
    
    {% include 'partials/leaderboard.njk' %}
    {% include 'partials/herojumbo.njk' %}

    <div class="max-w-2xl mx-auto px-4 md:px-10">
    {% include 'partials/bookmark.njk' %} 
    </div>

    

    {# {% include 'partials/widget.njk' %} #}
    {# {% include 'partials/shopping.njk' %} #}

    <main id="content">
    
    {% for page in post.pages %}
        {% if page.title %}
            {% include 'partials/postH2.njk' %}     
        {% endif %}
        <div class="{%- if post.noaff -%} _noaff {% endif %}
            post prose p-4 overflow-hidden mx-auto max-w-xl
            {%- if loop.first -%} 
             first-line:uppercase first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left 
            {%- endif -%}
            
            " id="{{loop.index0}}">

            
            {{ page.content | safe }}
        </div>

        {% if post.elaborate[loop.index-1] %}
            {% include 'partials/elaborate.njk' %}     
        {% endif %}

        
        

        {% if not loop.last %}

                {# inline related #}
                {% if loop.index > 1 %}
                {% set inline = post.related.posts[loop.index-2] %}
                {% include "partials/relatedinline.njk" %}
                {% endif %}

                {% if loop.index == 1 %}

                    {% include 'partials/seperator.njk' %}
                    
                    {% include 'partials/toc.njk' %} 
                    
                    {% if quizzes[post.id] %}
                    {% include "partials/quiz.njk" %}  
                    {% else %} 
                    {% include 'partials/poll.njk' %}
                    {% endif %}


                {% elif loop.index == 2 %}
                    {% include 'partials/unibots.njk' %}
                    
                {% elif loop.index == 3 %}
                    {% if post.faq %}
                        {% include 'partials/faq.njk' %}
                        {% include 'partials/seperator.njk' %}
                    {% elif post.related.inline %}
                        {# {% include "partials/relatedinline.njk" %}
                        {% include 'partials/seperator.njk' %} #}
                    {% else %}    
                        {% include 'partials/seperator.njk' %}
                    {% endif %}

                {% elif loop.index == 4 %}
                    {% include 'partials/seperator.njk' %}
                {% elif (loop.index == 6) %}    
                    {% include "partials/videos.njk" %}
                    {% include 'partials/seperator.njk' %}
                {% elif (loop.index == 10) %}
                    {# {% include 'partials/story.njk' %} #}
                    {% include 'partials/seperator.njk' %}
                {% elif (loop.index == 15 )  %}
                    {% include "partials/explore.njk" %}
                    {% include 'partials/seperator.njk' %}
                {% elif (loop.index == 10) and (loop.length > 12) %}
                    {# adding shopping at the middle on the long posts #}
                    {% include 'partials/shopping.njk' %}
                {% else %}
                    {# <hr class="ad-slot hidden hr{{loop.index}}"> #}
                    {% include 'partials/seperator.njk' %}

                {% endif %}
            {# {% include 'partials/cta.njk' %} #}
        {% else %}
            
            {% include 'partials/pinterestcard.njk' %}

            {% include 'partials/newsletter.njk' %}
            
            {% from "partials/videosgrid.njk" import videosGrid %}

            {{ videosGrid(true) }}


            {# adding shopping on the end for short posts #}
            {# {% include 'partials/subscribe.njk' %} #}
            
            {# {% include 'partials/rating.njk' %} #}

            
            {% include "partials/commentspanel.njk" %}


            {% if (loop.length < 12) %}
                {# {% include 'partials/shopping.njk' %} #}
            {% endif %}
            {# {% include 'partials/collections.njk' %} #}
            {# {% include 'partials/seperator.njk' %} #}

            {% if not post.noads %}
            {# {% include 'partials/keywordsgallery.njk' %} #}
            {% endif %}
        
        {% endif %}

    {% endfor %}


    </main>

    {% include 'partials/relatedbadges.njk' %}


    {% include 'partials/adsnew.njk' %}
    <div class="ad-slot mx-auto overflow-hidden" id="slot-related"></div>

    {% include 'partials/ads.njk' %}

    {% include "partials/listmix.njk" %}

    {% include 'partials/popular.njk' %}

    {% include 'partials/schema.njk' %}


    
    {# <div class="ad-slot mx-auto overflow-hidden" id="slot-review"></div> #}

    {# {% include 'partials/reviews.njk' %} #}
    
    <div class="ad-slot mx-auto overflow-hidden" id="slot-final"></div>


{# Posts scripts only  #}

{% if post.amp%}
<script async src="https://cdn.ampproject.org/v0.js"></script>
{% endif %}

{% if post.ampig %}<script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>{% endif %}


<script type='text/javascript'>
    (function(){
    var loc = window.location.href;
    var dd = document.createElement('script');
    dd.type = 'text/javascript'; dd.src = 'https://static.digidip.net/allwomenstalk.js?loc=' + loc;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(dd, s);
    })();
</script>