---
pagination:
  data: categories
  size: 1
  alias: tag
layout: layout/archive.njk
permalink: /{{tag._id}}.allwomenstalk.com/index.html
eleventyComputed:
  title: Allwomenstalk {{ tag.name }}
  description: "{{ tag.description }}"
  url: "https://{{ tag._id }}.allwomenstalk.com/"
---

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-gray-600">category</p>
    <h2 class="mt-6 text-4xl font-bold tracking-tight uppercase text-gray-900 sm:text-6xl">{{tag.name}}</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">{{tag.description}}</p>
  </div>
</div>


<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-4 p-4 max-w-screen-xl mx-auto">
{% set loopNumber = 0 %}
{% for post in archives[tag._id] %}
  

    {% set loopNumber = loopNumber+1 %}

    {% include "postslist.njk" %}
    {% if loopNumber % 7 == 0 %}
    </div> 
    {% include "gptblocks.njk" %}

      {% if loopNumber == 7 %}
        {# <span class="slice"></span>  #}
       {% include "quiz.njk" %}   
      {% else %}
        {# <span class="slice" style="height: 257px;"></span> #}
      {% endif %}
    
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-4 p-4 max-w-screen-xl mx-auto">
    {% endif %}

  
{% endfor %}
</div>
{# {% include "popularblock.njk" %} #}
{# {% include "explore.njk" %} #}
