---
layout: layout/default.njk
permalink: /allwomenstalk.com/gsearch/index.html
---
<main class="bg-pink-100 p-4 sm:p-8"> 
  <div class="text-black max-w-xl ">
      

  <script async src="https://cse.google.com/cse.js?cx=edddfa9f2e63b0feb">
  </script>
  <div class="gcse-search"></div>


  </div>
</main>
