---
layout: layout/default.njk
url: {{metadata.host}}
---


<main class="">

	<ol> 
		<li class="m-2">
			<h4><a href="allwomenstalk.com">Homepage</a> </h4>
			{# {# trending  #}
			<h4><a href="allwomenstalk.com/trending">Trending</a> </h4>
			{# mix #}
			<h4><a href="allwomenstalk.com/mix">Mix</a> </h4>
			{# popular #}
			<h4><a href="allwomenstalk.com/popular">Popular</a> </h4>
			
		</li>
			
		<li class="m-2">
			<h4><a href="/gsearch">Google Search</a> </h4>
		</li>
		// list categoreis 

		{% for category in categories %}
		<li class="m-2">
			<h4><a href="/{{category._id}}.allwomenstalk.com">{{category.name}}</a> </h4>
		</li>
		{% endfor %}
	</ol>

	<ol class="">
		{% for post in posts %}
		<li class="m-2">
			<a href="{{post.host}}/{{post.slug}}/">{{post.title}}</a> 
			<a href="https://{{post.host}}/{{post.slug}}/">[public]</a>
			- {{post.host}} -
			
			{{post.comment_count}} comments
			{% if post.elaborate["1"] %}
			[elaborated]
			{% endif %}
			<p>
				{{post.image}}
			</p>
			
		</li> 
		{% endfor %}
	</ol>

	{% include 'partials/shopping.njk' %}


	<ol class="grid grid-flow">


	{%- for post in posts -%}
		<li class="m-2">
			<p>{{post.category}}</p>			
			<h4><a href="{{post.host}}/{{post.slug}}" class="text-bold">{{post.title}}</a> </h4>
			<p>{{post.date}}</p>
			<p><a href="{{post.host}}/{{post.slug}}/amp.html">[AMP]</a></p>
			<p><a href="njk/{{post.host}}/{{post.slug}}/">[NJK]</a></p>

		<ol class="list-decimal">
		{% for kw in post.keywords %}
			<li>{{kw}}</li>
		{% endfor %}
		</ol>
		<p>{{post.comment_count}} comments</p>
		<p><a href="https://search.google.com/search-console/performance/search-analytics?resource_id=sc-domain%3Aallwomenstalk.com&page=*{{post.url}}&breakdown=sap" >[Report]</a></p>
		<p><a href="{{post.url}}">[Open]</a></p>
		<p>{{post.noads}}</p>
		</li>
	{%- endfor -%}
	</ol>
</main>
