---
layout: layout/default.njk
---
<main class="">
	<ol class="grid grid-flow">
		<li class="m-2">
			<h4><a href="allwomenstalk.com">Homepage</a> </h4>
		</li>
	{# {%- for cat in categories -%}
		<li class="m-2">
			<h4><a href="{{cat._id}}.allwomenstalk.com">{{cat.name}}</a> </h4>
		</li>
	{%- endfor -%}
	<ol> #}

	{%- for post in posts -%}
		<li class="m-2">
			<p>{{post.category}}</p>			
			<h4><a href="{{post.host}}/{{post.slug}}" class="text-bold">{{post.title}}</a> </h4>
			<p>{{post.date}}</p>
			<p><a href="{{post.host}}/{{post.slug}}/amp.html">[AMP]</a></p>
			<p><a href="njk/{{post.host}}/{{post.slug}}/">[NJK]</a></p>

		<ol class="list-decimal">
		{% for kw in post.keywords %}
			<li>{{kw}}</li>
		{% endfor %}
		</ol>
		<p>{{post.comment_count}} comments</p>
		<p><a href="https://search.google.com/search-console/performance/search-analytics?resource_id=sc-domain%3Aallwomenstalk.com&page=*{{post.url}}&breakdown=sap" >[Report]</a></p>
		<p><a href="{{post.url}}">[Open]</a></p>
		<p>{{post.noads}}</p>
		</li>
	{%- endfor -%}
	</ol>
</main>
