---
layout: layout/default.njk
pagination:
  data: db
  size: 1
  alias: post
permalink: /{{post.host}}/{{post.slug}}/
url: https://allwomenstalk.com/index.html
amptitle: "{{title}}"
ampurl: "{{url}}"
ampimage: "{{image}}"
ampcategory: "{{category}}"
eleventyComputed: 
  title: "{{post.title}} - {{metadata.title}}"
  content: "{{post.content}}"
---

    {% include 'partials/leaderboard.njk' %}
    {# {% include 'partials/adsense.njk' %} #}
    {% include 'partials/hero.njk' %}

    {% include 'partials/share.njk' %}    
    
    {# {% include 'partials/widget.njk' %} #}

    {% for page in post.content %}
        <div class="post prose dark:prose-invert p-4 overflow-hidden mx-auto max-w-xl
            {%- if loop.first -%} 
             first-line:uppercase first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left 
            {%- endif -%}
            " id="{{loop.index}}">
        {{ page | safe }}
        </div>
        {% if loop.index == 1 %}
            {% include 'partials/toc.njk' %}
        {% elif loop.index == 2 %}
            {# {% include "partials/gpt.njk" %} #}
        {% elif loop.revindex == 2 %}
            {% include 'quiz.njk' %}
        {% endif %}

        {% if not loop.last %}
            <hr class="hidden hr{{loop.index}}">
            {# {% include 'partials/cta.njk' %} #}
        {% else %}
            {% include 'partials/keywords.njk' %}
        {% endif %}
    {% endfor %}


    {% include 'partials/ads.njk' %}

    {% include 'partials/collections.njk' %}
 
    {% include 'partials/rating.njk' %}
    
    {% include "partials/comments.njk" %}

    {# {% include 'partials/popular.njk' %} #}

    {% include 'partials/schema.njk' %}

    <hr class="hidden">
    {% include 'partials/icons.njk' %}

    {% include 'partials/related.njk' %}

