<div x-cloak x-show="currentTitle" id="modal"  class="relative z-10">
  <!-- Overlay -->
  {# <div class="fixed inset-0 bg-gray-500/75"></div> #}

  <!-- Modal Content -->
  <div x-ref="modal" @click.away="currentTitle = null" @keyup.escape.window="currentTitle = null"  class="fixed top-28 inset-0 overflow-y-auto bg-gray-50 items-center justify-center ">
    <!-- Close Button -->
    <button 
      @click="currentTitle = null"
      type="button" 
      class="fixed right-0 m-4 lg:m-6 xl:m-10 rounded-full bg-black/50 text-gray-300 hover:text-white focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 z-50">
      <span class="sr-only">Close</span>
      <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <!-- Figure Section -->
    <figure class="overflow-hidden relative items-center justify-center md:p-2 lg:p-4 xl:p-8">
        <!-- Image -->
        <img :src="currentTitle.image" x-transition alt=""
            :class="'filter hue-rotate-'+currentTitle.hue+' rotate-'+currentTitle.rotation"
            class="aspect-[16/9] w-full bg-gray-100 object-cover md:rounded-md lg:rounded-lg">

        <!-- Title -->
        <a x-html="currentTitle.title"
            x-transition
            class="absolute mx-8 block py-8 max-w-md text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold tracking-tight text-white sm:text-3xl drop-shadow-sm bottom-0 
            sm:bottom-auto sm:top-1/2 sm:left-1/2 sm:transform sm:-translate-x-1/2 sm:-translate-y-1/2 sm:text-center sm:max-w-xl">
        </a>

    </figure>



    {# outline toc #}
    {# <div class="p-4">
      <h4>Table of Contents</h4>
      <ul role="list" class="overflow-hidden rounded-xl bg-white shadow m-4 border max-w-md mx-auto divide-y divide-gray-200">
        <template x-for="(item, index) in currentTitle.toc">
        <li x-text="item" class="px-4 py-2 text-xs whitespace-nowrap overflow-hidden overflow-ellipsis" x-transition.duration.500ms >
          <!-- Your content -->
        </li>
        </template>
        <!-- More items... -->
      </ul>
    </div> #}

    {# poll #}
    <div class="relative">
      {% include "partials/infeedity/poll.njk" %}
    </div>

    <!-- Loading Spinner -->
    <div x-show="loading" class="py-4">
      {% include "partials/spinner.njk" %}
    </div>

    {# placeholder  #}
    <template x-if="!currentTitle.html">
    <div  x-data="{ lines: Array.from({ length: 24 }) }" class="space-y-4 max-w-xl mx-auto my-10 px-8 border-3 border-red-500 overflow-hidden">
        <template x-for="(_, index) in lines" :key="index">
            <div 
                class="h-4 bg-gray-300 rounded-sm" 
                :class="index % 4 === 0 ? 'bg-gray-400 h-3 mb-2' : ''" 
                :style="{ width: `${index % 4 === 0 ? Math.random() * 30 + 40 : Math.random() * 10 + 90}%` }">
            </div>
        </template>
    </div>
    </template>

    <!-- Article Section -->
    <article x-data="{ show: false }" class="max-w-xl mx-auto my-10 px-8 border-3 border-red-500 overflow-hidden">
      <section 
        x-show="currentTitle.html" 
        x-html="currentTitle.html" 
        :id="'article-' + index" 
        class="prose prose-sm">
      </section>
    </article>

    <div x-show="currentTitle.html" class="max-w-xl mx-auto">
        {% set headline = "Want to stay in the loop on this?" %}
        {# {% include "partials/subscribe.njk" %} #}
    </div>

    <div x-show="currentTitle.html && list.length>0" class=" my-10 p-4">
        <ul class="divide-y divide-gray-300 overflow-hidden rounded-lg border border-gray-300 max-w-xl mx-auto md:mx-auto">
            <template x-for="item in list.sort(() => 0.5 - Math.random()).slice(0,10)">
                <li @click="$refs.modal.scrollTo({ top: 0, behavior: 'smooth' }); select(item); " class="text-sm px-4 py-2 relative flex justify-between items-center cursor-pointer">
                    <span x-text="item.title" class="whitespace-nowrap overflow-hidden text-ellipsis"></span>
                    <span type="button" class="-rotate-90 ml-auto pl-2 py-1 text-xs font-semibold text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </li>
            </template>
        </ul>
    </div>

    {# close button #}
    <div class="flex items-center justify-center">

    <button @click="currentTitle = null" class="my-4 bg-gray-700 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow-md">
      <span>Close</span>
    </button>

    </div>

  </div>
</div>