{% if not post.noads %}
<div id="stickyunit" style="position: fixed;"></div>
<script>
    window.googletag = window.googletag || {cmd: []};
    var stickyAd;

    function makeStickyAd() {
         stickyAd = googletag.cmd.push(function() {
            googletag.defineSlot('/5445743/Sticky_1x1', [1, 1], 'stickyunit').setTargeting('Position', ['Above']).addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
          });
      }

    function makeAnchorAd() {
        googletag.cmd.push(function() {
            anchorSlot = googletag.defineOutOfPageSlot(
                '/5445743/AnchorAd', googletag.enums.OutOfPageFormat.TOP_ANCHOR);
            if (anchorSlot) {
              anchorSlot
                  .setTargeting('test', 'anchor')
                  .addService(googletag.pubads());
            }
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        })
    }



      function makeAds() {
        console.log('makeAds')
        adslot = {} //to call ones in display()
        elements = document.querySelectorAll("hr")
        
        elements.forEach((item,i) => {
            
             googletag.cmd.push(function() {
               var slot = googletag.defineSlot('/5445743/AWS-Universal', [[300, 250], [728, 90], [970, 90], [970, 250], 'fluid'])
                   .setTargeting('postID', '{{post.id}}')
                   .setTargeting('category', '{{post.category}}')
                   .setTargeting('position', 'SeparatorAd')
                   .setTargeting('section',i)
                   .setCollapseEmptyDiv(true)
                   .addService(googletag.pubads());
               var mappingarr = []
               //wide block max height 250px
               mappingarr[1] = googletag.sizeMapping()
                             .addSize([980, 690], ['fluid',[970, 250],[300,250],[300,600]])
                             .addSize([980, 480], ['fluid',[970, 90],[300,250],[300,600]])
                             .addSize([750, 480], ['fluid',[728, 90],[300,250],[300,600]])
                             .addSize([320, 400], ['fluid', [300, 250],[300,600],[250,250]])
                             .addSize([0, 0], ['fluid',[300,250]])
                             .build();
               //thin block max height 50-90px
               mappingarr[0] = googletag.sizeMapping()
                             .addSize([980, 690], ['fluid',[970, 90]])
                             .addSize([980, 480], ['fluid',[970, 90]])
                             .addSize([750, 480], ['fluid',[728, 90]])
                             .addSize([320, 400], ['fluid',[320,50]])
                             .addSize([0, 0], ['fluid',[300,50]])
                             .build();
               mappingarr[2] = googletag.sizeMapping()
                    .addSize([0, 0], ["fluid", [970, 250],[336, 280], [300,250],[320,50]])
                    .build()
               var classarr = ['wide','thin'] //classes to make propper styles

               var rand = i % 2                             
               var mapping = mappingarr[rand]
               // var mapping = mappingarr[2]

               slot.defineSizeMapping(mapping);
               var wrapper = document.createElement('div');

               
               wrapper.classList.add('mx-auto','text-center');
               var div = document.createElement('div');
               div.classList.add('adunit','inline-block');
               wrapper.appendChild(div)
               div.id = slot.getSlotElementId(); // auto-generated by GPT
               item.parentNode.insertBefore(wrapper, item);
               adslot = slot;
             });
        })
        //Single request architecture (SRA)
        googletag.cmd.push(function() {
            googletag.display(adslot)
        })
      }
    makeAds()
    {# {{!-- makeAnchorAd(); --}} #}
    
    
</script>

{% endif %}
