{# "Reader Insights: Unveiling Valuable Feedback"
"Voices from the Community: Hear What Our Readers Say"
"Engage & Discuss: Join the Conversation"
"Feedback Junction: Sharing Thoughts and Opinions"
"User Perspectives: Exploring Reader Feedback"
"Insights & Impressions: Uncovering Reader Reviews"
"Thoughts Shared: Reader Feedback and Opinions"
"The Feedback Forum: A Platform for Reader Voices"
"Community Corner: Conversations and Comments"
"Readers Speak Out: Unveiling Their Comments"
"Feedback Exchange: Empowering Thoughts and Opinions"
"Opinion Hub: Uniting Perspectives and Feedback"
"Insights Corner: Amplifying Thoughts and Opinions"
"Thoughtful Discourse: Embracing Feedback and Opinions"
"Voices Unleashed: Empowering Thoughts and Feedback"
"Opinion Oasis: A Gathering of Thoughts and Feedback"
"Feedback Avenue: Connecting Thoughts and Opinions"
"Ideas Gallery: Showcasing Feedback and Opinions"
"Opinion Central: Where Thoughts and Feedback Converge"
"Feedback Nexus: Intersecting Thoughts and Opinions" #}
{% if not post.comments|length == 0 %}
<div id="comments" class="py-6">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="text-lg font-semibold leading-8 tracking-tight">Feedback Junction</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight">Where Thoughts and Opinions Converge</p>
    </div>
    
    <div class="mx-auto mt-16 flow-root max-w-xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 columns-1 sm:columns-2 sm:text-[0] lg:columns-3">
        {% for comment in post.comments %}
        <div class="pt-4 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-100 p-4 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>{{ comment.comment_content | safe }}</p>
            </blockquote>
            {# <figcaption class="mt-6 flex items-center gap-x-4">
              <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div>
                <div class="font-semibold text-gray-900">Leslie Alexander</div>
                <div class="text-gray-600">@lesliealexander</div>
              </div>
            </figcaption> #}
          </figure>
        </div>
        {% endfor %}

        {# fresh comments go here #}
        {# <template x-for="(comment, index) in comments">
          <div x-bind:class="'pt-8 sm:inline-block sm:w-full sm:px-4 col-span-2'">
            <figure class="rounded-2xl bg-white/10 p-4 text-sm leading-6">
              <blockquote>
                <p x-text="comment.comment_content"></p>
              </blockquote>
              <figcaption class="mt-2 flex items-center gap-x-4">
                <div>
                  <div class="font-semibold" x-text="comment.comment_author"></div>
                  <div class="opacity-70 text-xs">@{{ comment.comment_author }}</div>
                </div>
              </figcaption>
            </figure>
          </div>
        </template> #}

      </div>
    </div>
    
  </div>
</div>
{% endif %}

{# <div class="">
  <div class="px-6 py-6 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="text-3xl font-bold tracking-tightsm:text-4xl">Share your thoughts instantly by tweeting us your comment.</h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">

          <a class="rounded-md bg-pink-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600"
            href="https://twitter.com/intent/tweet?text=@allwomenstalk&url={{ post.url }}"
            data-size="large">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline-block" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
            </svg>
            Tweet
          </a>
      </div>
      <p class="mx-auto mt-6 max-w-xl text-base leading-8 ">DM for private feedback or use <a class="underline" href="mailto:comment@allwomenstalk.com?subject=Feedback&body=Hello,%0D%0A%0D%0APlease provide your feedback here.%0D%0A%0D%0A %0D%0A%0D%0A{{post.url}}%0D%0A%0D%0AThank you.">email</a>.</p>

    </div>
  </div>
</div> #}


{# {% include 'partials/commentadd.njk' %} #}

{# 

{% if post.comments %}
  <p id="comments" class="uppercase tracking-wide text-sm opacity-70 font-bold text-center mt-8">Comments</p>
  <ul class="m-4 mx-auto max-w-xl" id="comments">
    {% for comment in post.comments %}
      <li class="text-sm mb-2 px-4" id="{{ comment._id }}" data-author="{{ comment.comment_author }}">
        <b>{{ comment.comment_author }}:</b><span class="ml-2">{{ comment.comment_content }}</span>
      </li>
    {% endfor %}
  </ul>
  <div class="mx-auto post p-4" id="postcomment"> 
    <button 
      aria-label="Reply"
      onclick="commentaction('postcomment','reply')"
      class="reply w-full block p-2 rounded border border-gray-500 bg-white text-sm focus:outline-none placeholder-gray-700 text-left">
      Add a comment ...
    </button>
  </div>
{% else %}

{% endif %}
 #}


