<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div id="commentform">
 
  <div class="min-w-0 flex-1">
    <form @submit.prevent="commentSubmit" class="relative grid gap-4 ">
      <div class="overflow-hidden rounded-lg shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-pink-600">
        <label for="comment" class="sr-only">Add your comment</label>
        <textarea rows="5" name="comment" x-model="comment.comment_content" id="comment" class=" text-gray-900 block w-full p-2 resize-none border-0 bg-transparent placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 border-transparent focus:border-transparent " placeholder="Add your comment..."></textarea>
      </div>


      <div id="addcomment" class="isolate -space-y-px rounded-md shadow-sm bg-white text-xs" >
        <div class="relative rounded-md rounded-b-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300 focus-within:z-10 focus-within:ring-2 focus-within:ring-pink-600">
          <label for="name" class="block text-xs font-medium text-gray-900">Name (at least 5 characters) </label>
          <input x-model="comment.comment_author" type="text" name="name" id="name" pattern=".{5,}" required title="Name must be at least 5 characters long" class="text-xs block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:leading-6" placeholder="Your Name or Nickname">
        </div>
        <div class="relative rounded-md rounded-t-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300 focus-within:z-10 focus-within:ring-2 focus-within:ring-pink-600">
          <label for="job-title" class="block text-xs font-medium text-gray-900">Email (optional)</label>
          <input x-model="comment.comment_author_email" type="email" name="job-title" id="job-title" class="text-xs block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:leading-6" placeholder="Email to reach out (optional)">
        </div>
      </div>


      <div class="flex-shrink-0">
        <button :disabled="comment.disable" 
          :class="{'cursor-not-allowed opacity-70':comment.disable}"
          class="inline-flex items-center rounded-md  px-3 py-2 text-sm font-semibold text-white bg-pink-600">
          Comment
        </button>
      </div>
    </form>
  </div>





</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->


