{% if not post.noelaborate %}




    {% if post.elaborate[loop.index-1] %}
    <div class="prose p-4 overflow-hidden mx-auto max-w-xl">
        <small>***</small>
        {{ post.elaborate[loop.index-1].html | safe }}
    </div>
    {% elif loop.index > 1 and not loop.last %}

        <div class="mx-auto max-w-xl px-4">

            <div class="elaborate"
                data-postid="{{post.id}}"
                data-page="{{loop.index0}}"
                x-data="elaborateComponent()"
                x-init="init($el.getAttribute('data-postid'), $el.getAttribute('data-page'))">
                <button class="_elaborate h-8 relative inline-flex items-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 hover:text-gray-900 focus:z-10"
                    x-show="!response"
                    @click="handleClick($el)">
                    <span x-text="label"></span>
                </button>
                <div x-html="response" class="prose"></div>
            </div>
        </div>

    {% endif %}

{% endif %}


