
<div x-data="dataFetcher()" x-init="fetchData" class="max-w-2xl mx-auto px-3 sm:px-8 my-4">
    <strong x-text="headline"></strong>
    <template x-if="isLoading">
        <div>Loading...</div>
    </template>
    
<ul role="list" class="" x-if="!isLoading">
  <template x-for="item in items">
    <li class="flex gap-x-6 py-2">
      <div class="min-w-0">
        <a :href="item.url" class="text-sm font-semibold leading-6 text-gray-900" x-text="item.title"></a>
        
        <div class="flex items-center gap-x-2 text-xs leading-5 text-gray-500">
          <!-- Replace this with dynamic data or logic if needed -->
          <p class="truncate"><span x-text="item.category"></span></p>
        </div>
      </div>
    </li>
  </template>
</ul>


</div>

<script>
    function dataFetcher() {
        return {
            items: [],
            isLoading: true,
            headlines: [
                "Dive Deeper with These Picks",
                "You Might Also Enjoy",
                "Recommended Reads for You",
                "Don't Miss These Gems",
                "Explore More On This",
                "From Our Archives",
                "Tailored Just for You",
                "More Stories to Inspire",
                "Discover Related Reads",
                "Bonus Insights for the Curious"
            ],
            headline: '',
            limit: 1+Math.floor(Math.random() * 3),
            fetchData() {
                this.headline = this.headlines[Math.floor(Math.random() * this.headlines.length)] + ':';
                console.log('Fetching data...');
                fetch('https://allwomenstalk.github.io/explore/list.json')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        // shuffle and slice 
                        this.items = data.items.sort(() => Math.random() - 0.5).slice(0, this.limit);
                        this.isLoading = false;
                    })
                    .catch(error => {
                        console.error("There was an error fetching the data.", error);
                        this.isLoading = false;
                    });
            }
        }
    }
</script>