{# https://chat.openai.com/c/0473e927-5436-44b6-a0ce-10b81aa7a56f #}

{# set shown to number of visible on the start #}
<div x-data="faqData" id="faq" class="max-w-2xl mx-auto">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
      <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
        {% for item in post.faq %}
        <div x-show="shown>={{loop.index}}" x-data="{show:false, index:{{loop.index}} }" class="pt-6" >
          <dt>
            <!-- Expand/collapse question button -->
            <button @click="show=!show;report({{loop.index0}})" type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="faq-0" aria-expanded="false">
              <span class="text-base font-semibold leading-7">
                {{item.question}}
              </span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg class="h-6 w-6" :class="{hidden:show}"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg class=" h-6 w-6" :class="{hidden:!show}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecapn="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd x-show="show" class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">{{item.answer}}</p>
          </dd>
        </div>
        {% endfor %}
        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>

<script> 
function faqData() {
  return {
    items: {{post.faq | dump | safe}},
    shown: 3  , 
    report(index) {
        item = this.items[index];
        console.log(index,item);
        this.shown++;
        beacontrack({ type: 'faq', action:1,  post_id: '{{post.id}}', item: item })        
    },
  };
}
</script>
