<div class=" py-5 px-4 sm:px-0 max-w-xl mx-auto">
  <h3 class="text-xl font-semibold text-gray-900">Gallery Spotlight</h3>
  <p class="mt-1 text-sm text-gray-500">Save and share the images that inspire you. Tag <a class="font-bold" href="https://www.pinterest.com/allwomenstalk/">@allwomenstalk</a> to get featured.</p>
</div>

<div class="overflow-x-auto" id="gallery" class="p-4">
  <ul x-data="gallery" role="list" class="flex gap-x-4 p-4">
    <template x-for="item in list">
      <li class="relative flex-shrink-0">
        <div class="w-32 group overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
          <img :src="item.image" alt="" class="pointer-events-none w-32 aspect-[9/14] object-cover  group-hover:opacity-75">
          <button @click="pin(item)" type="button" class="absolute inset-0 focus:outline-none">
            <span class="sr-only"></span>
          </button>

        <p
        class="mb-2 w-full flex items-center justify-center rounded-b bg-[#e60023] px-6 py-1.5 text-xs font-medium leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
        <span class="flex items-center space-x-2">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="h-4 w-4"
            viewBox="0 0 496 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
            <path
                d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3 .8-3.4 5-20.3 6.9-28.1 .6-2.5 .3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z" />
            </svg>
            <span>Save</span>
        </span>
        </p>

        </div>
      </li>
    </template>
  </ul>
</div>

<script>
    function gallery() {
        return {
            list:[], 
            init() {
                this.loadData();
            }, 
            format: 'medium',
            formats: {
                small: '_128_N.webp',
                medium : '_640_N.webp',
            },
            async loadData() {
                const urls = [
                    `https://pub-45ecdc54aa154cebadd24d43e9fd0375.r2.dev/{{post.slug}}.json`,
                    `https://pub-45ecdc54aa154cebadd24d43e9fd0375.r2.dev/random.json`
                ];
                {# console.log(urls); #}
                try {
                    for (const url of urls) {
                        const response = await fetch(url);
                        
                        if (response.ok) {
                            const data = await response.json();
                            this.list = data.sort(() => Math.random() - 0.5).slice(0, 10);

                            const replace = this.formats[this.format];
                            this.list.forEach(item => {
                                item.image = item.image_url.replace(".png", replace);
                            });

                            console.log(this.list);
                            return;
                        }
                    }
                    throw new Error('Both URLs failed to load');
                } catch (error) {
                    console.error('Error:', error);
                }
            }, 
            pin(item) {
                console.log('pin', item)
                obj= {
                    type: 'pinterestgallery',
                    action:1,
                    post_id: '{{post.id}}',
                    item: {
                        post_title: "{{post.title}}",
                        post_url: "{{post.url}}",
                        post_image: item.image_url
                    }
                }
                beacontrack(obj)
                // curent window url 
                window.open(`https://www.pinterest.com/pin/create/button/?url=${item.link}&media=${item.image_url}&description=${item.title}`, '_blank')
            }
        }
    }


</script>