<div x-data="infinity" id="infinity" class=" mx-auto sm:rounded-t-xl max-w-7xl ">

    <div x-show="list.length>0" class="max">
        <div x-show="currentTitle" class="mx-2" x-transition>

            <figure class="my-2 overflow-hidden rounded-xl relative items-center justify-center">
                <!-- Image -->
                <img :src="currentTitle.image" x-transition alt=""
                    :class="'filter hue-rotate-'+currentTitle.hue+' rotate-'+currentTitle.rotation"
                    class="aspect-[16/9] w-full bg-gray-100 object-cover">

                <!-- Title -->
                <a x-html="currentTitle.title"
                    x-transition
                    class="absolute mx-8 block py-8 max-w-md text-3xl font-bold tracking-tight text-white sm:text-4xl shadow-sm
                    bottom-0 md:bottom-auto md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 md:text-center md:max-w-xl
                    lg:text-5xl
                    xl:text-7xl">
                </a>

            </figure>
            
            <div x-show="loading" class="py-2">
            {% include "partials/spinner.njk" %}
            </div> 

            <button x-show="!currentTitle.html && !loading" @click="getContent(currentTitle)"  class="block w-full my-1 bg-black text-white text-sm font-semibold px-4 py-2 rounded-lg shadow-md">Show</button>


            <!-- Article Content -->
            <article x-data="{show:false}" :class="{'h-auto': !show, 'h-auto': show}" class="max-w-xl mx-auto m-10 relative overflow-hidden px-2 border-3 border-red-500">
                <section x-show="currentTitle.html" x-html="currentTitle.html" :id="'article-' + index" class="prose prose-sm"></section>
            </article>

            {# <button x-show="currentTitle.html" @click="currentTitle.html=false;rotation=true" class="block w-full my-1 bg-black text-white text-sm font-semibold px-4 py-2 rounded-lg shadow-md">More</button> #}
            
            <ul x-show="currentTitle.html" class="divide-y gap-2 rounded-lg border overflow-hidden max-w-xl mx-auto text-sm">
                <li class="p-2 bg-gray-100 text-center">Discover more </li>
                <template x-for="(item, index) in list.sort(() => Math.random() - 0.5).slice(0,5)">
                    <li class="whitespace-nowrap overflow-hidden  overflow-ellipsis w-full p-2">
                    <a href="#" @click.prevent="selectTitle(index)" x-text="item.title" class=""></a>
                    </li>
                </template>
            </ul>

        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var converter = new showdown.Converter();
    {# var converter = new showdown.Converter(); #}
    function infinity() {
        return {
            {# list: localStorage.getItem('list') ? JSON.parse(localStorage.getItem('list')).items : [], #}
            list: [],
            category:  "{{tag._id}}",
            currentIndex: 0,
            currentTitle: null,
            rotation: true,
            loading: false,
            async init() {
                if (this.list.length == 0) {
                    await this.loadList();
                } else {
                    cache = JSON.parse(localStorage.getItem('list'));
                    if (cache.category === this.category) {
                        this.list = cache.items;
                        this.currentTitle = this.list[0];
                    } else {
                        this.loadList();
                    }

                }
                // shuffle 
                this.list.sort(() => Math.random() - 0.5);
                this.currentTitle = this.list[0];
                this.startTitleRotation();
            },
            async loadList() {
                const url = `https://pub-ff359827c45e40a7b6e9bad1878cd18a.r2.dev/feed/${this.category}.json`;
                try {
                    const response = await fetch(url);
                    const data = await response.json();
                    this.list = data.map((item, index) => ({
                        ...item,
                        hue: [0, 15, 30, 60, 90][Math.floor(Math.random() * 5)],
                        rotation: [0, 180][Math.floor(Math.random() * 2)],
                        image: bg.split('\n')[Math.floor(Math.random() * bg.split('\n').length)]
                    }));
                    store = {
                        items: this.list,
                        category: this.category, 
                        created: new Date().toISOString()
                    }
                    localStorage.setItem('list', JSON.stringify(store));
                    if (this.list.length) {
                        this.currentTitle = this.list[0];
                        console.log('Loaded list:', this.list);
                    }
                } catch (error) {
                    console.error('Error loading list:', error);
                }
            },
            startTitleRotation() {
                setInterval(() => {
                    if (this.list.length > 0 && this.rotation) {
                        this.currentIndex = (this.currentIndex + 1) % this.list.length;
                        this.currentTitle = this.list[this.currentIndex];
                    }
                }, 10000);
            },
            async selectTitle(index) {
                this.currentTitle = this.list[index];
                window.scrollTo({ top: document.getElementById('infinity').offsetTop - 70, behavior: 'smooth' });
                await this.getContent(this.currentTitle);

                item = this.currentTitle;
                this.list = this.list.filter((el, i) => i !== index);

                const event = { 
                    label: 'indexreadmore', 
                    page: window.location.href, 
                    item: item.title
                };
                const obj = {
                    type: 'infinity',
                    action: 1,
                    category: 'love',
                    item: event
                };
                beaconTrack(obj);
            },
            async getContent(item) {
                this.rotation = false
                this.loading = true;
                console.log('Fetching content for:', item);

                const url = `https://us-east-1.aws.data.mongodb-api.com/app/azoio-evvkb/endpoint/create?id=${item._id}`;
                console.log('Content URL:', url);

                try {
                    const response = await fetch(url);
                    const data = await response.json();
                    
                    const listItem = this.list.find(el => el._id === item._id);
                    
                    data.html = converter.makeHtml(data.content.replace(/#.*\n/, ''));
                    if (listItem) {
                        Object.assign(listItem, data);
                    }
                } catch (error) {
                    console.error('Error fetching content:', error);
                }
                this.loading = false;
            },
            beaconTrack(data) {
                const trackAPI = 'https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/beacon';
                const beaconData = new Blob([JSON.stringify(data)], { type: 'application/json' });
                navigator.sendBeacon(trackAPI, beaconData);
            },
        };
    }
    bg =`https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/73df9d6f-599e-471a-8fec-271e350ff1d1/0_3.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/a3baae07-2fd8-460b-ba7a-313eb51e656f/0_3.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/14772c47-1924-4985-8149-11fbd570d9c8/0_3.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/ec9ce53f-a3ff-4540-b2c0-38913317e8c2/0_3.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/09f00e87-e198-4e74-bf94-e355e1f90de9/0_0.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/07342aae-ea1e-4fed-8de4-2d1554fae572/0_0.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/24d2ccb7-bd32-4b9c-be83-d47d3208c79e/0_0.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/21c90a2e-f563-4be9-be60-b46824e75713/0_1.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/98ba8b4f-85f9-45a4-8168-70e0e1f87de5/0_1.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/499cd8bf-ccf9-4d84-a815-9e25cd39e248/0_0.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/bda2dc70-5ec2-4568-836e-d8af9571c999/0_1.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/9c07f23d-86d4-45b1-a21b-12bc89df16d4/0_0.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/cb62f3b7-26ed-4628-9b6d-abb0e388cb6f/0_3.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/904fbc56-4ff4-4def-ad8d-026464c846ac/0_2.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/ed5dc76f-0a65-4a01-981c-63bf26788567/0_0.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/fb7d44d7-7468-4f69-a708-0b41f3317797/0_2.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/9ec7f3b5-f59c-42be-8b55-b5cc6473d04d/0_1.png
https://pub-ff6bb52033e3451e83c2df5c4e8c073f.r2.dev/52a792a8-13a9-4c7f-be2c-9fb73cc33b2c/0_0.png`
</script>