<div class="bg-white" x-data="articlesGrid()">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-center text-gray-900">Other Cool Reads</h2>

    <div class="mt-8 flex space-x-6 overflow-x-auto pb-4">
      <template x-for="article in articles" :key="article._id">
        <div class="flex-shrink-0 w-64">
          <div class="relative">
            <div class="relative h-72 w-full overflow-hidden rounded-lg">
              <img :src="article.cover" alt="" class="size-full object-cover">
            </div>
            <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
              <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
              <p class="relative text-xs font-semibold text-white" x-text="article.title"></p>
            </div>
          </div>
          <div class="mt-6">
            <a :href="article.url" target="_blank" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200">
              Read Article<span class="sr-only" x-text="article.title"></span>
            </a>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
  function articlesGrid() {
    return {
      articles: [], 
      init() {
        console.log('init articlesGrid')
        hosts = `fitene.com
eatial.com
vityle.com
yupst.com
laclinicadelosangeles.com
humanverse.azo.io
trailquest.azo.io
backdrophub.azo.io
worksphere.azo.io
artpulse.azo.io
homegallery.azo.io
roomcraft.azo.io
vistatrails.azo.io
spacerevamp.azo.io
designforge.azo.io
wayfarer.azo.io
brandscene.azo.io
stylesphere.azo.io
flavorseek.azo.io
citylens.azo.io
investestate.azo.io
homeliving.azo.io
glowguide.azo.io
pixelwalls.azo.io
gameedge.azo.io
gadgetflow.azo.io
petpal.azo.io
everydaylab.azo.io
wellbeing.azo.io
ecosafari.azo.io
bloomcraft.azo.io
getawaypro.azo.io
gearfit.azo.io
remoteboost.azo.io
playnest.azo.io
familynest.azo.io
opednow.azo.io
sweetring.azo.io
meditech.azo.io
ecoshift.azo.io
furnishwise.azo.io
thanksfeast.azo.io
hobbycraft.azo.io
yuletide.azo.io
cathaven.azo.io
dogbuddy.azo.io
birdsong.azo.io
realframe.azo.io
festivelife.azo.io
spectrum.azo.io
aquaworld.azo.io
autoinsight.azo.io
waveride.azo.io
accessable.azo.io
bharatbeat.azo.io
simplefit.azo.io
glassart.azo.io
bizpulse.azo.io
colorform.azo.io
aivista.azo.io
wildpulse.azo.io`
        list = hosts.split("\n")
        {# random item #}
        host = list[Math.floor(Math.random() * list.length)]
        url = `https://pub-0d50e97e306844089b032b7d756ed443.r2.dev/sites/${host}.json`
        console.log(url)
        fetch(url)
          .then(response => response.json())
          .then(data => {
            // filter el with unique item.cover
            this.articles = data.filter((item, index) => data.findIndex(t => t.cover === item.cover) === index).sort(() => Math.random() - 0.5).slice(0, 6)
            console.log(this.articles)
          })
      }
    }
  }
</script>