{# delay alpinejs #}


{# <script src="https://account.allwomenstalk.com/js/cookiecross.js" defer></script> #}
{# {{!-- loadJs('https://account.allwomenstalk.com/js/cookiecross.js'); --}}
{{!-- loadJs('https://account.allwomenstalk.com/js/profile.js'); --}} #}

<script> 
    function data () {
        return {
            title:"Other",
            list:{},
            user: false,
            partials: ["azo","popular","recent"],
            comment: {
                disable: false,
                loadall: true,
            },
            comments: [],
            commentspanel: false,
            commentstatic: true,
            menu: false,
            search: {
                show: false,
                query: '',
                results: [],
                loading: false,
                categories: {{categories|json|safe}},
            },
            init () {
                console.log('init alpine');
                this.comment.comment_author = window.localStorage.getItem('comment_author') || '';
                this.comment.comment_author_email = window.localStorage.getItem('comment_author_email') || '';
                this.authcheck();
                // watch query 
                {# this.$watch('search.query', () => {
                    console.log('search obj', this.search);
                    this.getsearch();
                }); #}

                // test
                {# this.search.query = 'red shoes';
                this.getsearch(); #}

            },
            showsearch () {
                this.search.show = true;
                this.search.query = '';
                this.search.results = [];
                this.search.categories = this.search.categories.sort(() => 0.5 - Math.random());
                this.$nextTick(() => {
                    setTimeout(() => {
                    this.$refs.searchInput.focus();
                    }, 100);
                });
            },
            async getsearch() {
                this.search.loading = true;
                // fitter categories


                {# window.originalCategories = null; #}
                if (!window.originalCategories) {
                    console.log('originalCategories not set');
                    originalCategories = [...this.search.categories]; // Make a copy of the original categories
                }

                console.log('originalCategories', originalCategories);

                this.search.categories = originalCategories.filter((category) => {
                    const categoryName = category.name.toLowerCase();
                    const searchQuery = this.search.query.toLowerCase();

                    if (searchQuery === '') {
                        // If the search query is empty, keep all categories
                        return true;
                    }

                    return categoryName.startsWith(searchQuery);
                });
                if (this.search.query.length<3) {this.search.results=[];return};
                this.search.results = [];
                apiurl = "https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/search"
                {# apiurl = "https://kyrbdz2evj.execute-api.us-east-1.amazonaws.com/v1/search" #}
                const url = `${apiurl}?q=${this.search.query}`;
                const response = await fetch(url);
                const data = await response.json();
                
                this.search.results = data.posts;
                this.search.loading = false;
            },
            async authcheck() {
                {# checking if profile cookie exists and then loads profile and realm #}
                console.log('authcheck');
                const profileCookieValue = getCookieValue('realm:profile');
                console.log('profileCookieValue', profileCookieValue);
                if (profileCookieValue) {

                    this.user = JSON.parse(profileCookieValue);
                    console.log('user', this.user);
                    await loadJs('https://account.allwomenstalk.com/js/profile.js', () => {
                        console.log('profile.js loaded');
                    });
                    await loadJs('https://unpkg.com/realm-web/dist/bundle.iife.js', () => {
                        console.log('realm-web loaded');
                    });
                }
            },
            async getComments(all){
                console.log('getComments', this.user);
                api = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/comments?postid={{post.id}}`;
                if (all) {
                    api = api + '&all=true';
                }
                fetch(api)
                .then(response => response.json())
                .then(data => {
                    // convert date to timestamp
                    data.forEach((item, i) => {
                        data[i].comment_date = new Date(item.comment_date).getTime();
                    });
                    this.comments = data.sort((b, a) => b.comment_date - a.comment_date);
                    this.commentstatic = false;
                    (this.comments.length < 100) ? this.comment.loadall = false : this.comment.loadall = true;
                    if (all) this.comment.loadall = false;
                    setTimeout(() => {
                        if(!all) this.$refs.commentList.scrollTop = this.$refs.commentList.scrollHeight;
                    }, 100); // Adjust the delay as necessary.
                                        
                });
            },
            async commentSubmit () {
                if (this.comment.comment_content.length < 3) {
                    alert('Comment too short');
                    return;
                }
                this.comment.disable = true;
                this.comment.postid = '{{post.id}}';
                console.log('comment', this.comment);

                const functionName = "comment";
                const args = [2, 3]
                    {# const result = await user.callFunction(functionName, ...args);
                    console.log(`Called ${functionName}(${args.join(', ')})`, result); #}

                apiurl = 'https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/comment';
                fetch(apiurl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.comment),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.error) {
                        try {
                            msg = JSON.parse(data.error)
                        } catch (e) {
                            msg = data.error
                        }
                        this.comment.disable = false;
                        alert(msg.message || msg )
                    } else {
                        this.comments.push({...this.comment});
                        this.comment.comment_content = '';
                        this.comment.disable = false;
                    }
                })
                

                // cache name email localy in localstorage 
                window.localStorage.setItem('comment_author', this.comment.comment_author);
                window.localStorage.setItem('comment_author_email', this.comment.comment_author_email);
               

            },
            async check(){
                for (const partial of this.partials) {
                    const element = document.querySelector(`#${partial}`);
                    if (!element) continue;
                    const position = element.getBoundingClientRect();
                    if (!(position.top >= 0 && position.bottom <= window.innerHeight)) continue;
                    console.log(`Element ${partial} is fully visible on screen`);

                    const scriptUrl = `/js/${partial}.js`;
                    await loadJs(scriptUrl, async () => {
                        console.log(`Script ${scriptUrl} loaded successfully`);
                        this.partials.splice(this.partials.indexOf(partial), 1); // removing from array
                    
                        await addMultilineHtml(window[partial].html, partial);
                        console.log(`HTML for ${partial} added to ${partial}`);

                        this.list[partial] = await window[partial].load(2);
                        console.log(`Data for ${partial} loaded:`, this.list[partial]);

                        
                    });

                }

            },
            rate(rating){
                console.log('rating', rating);
                // api call
                // https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/rate?postid=000&rating=5
                api = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/rate?postid={{post.id}}&rating=${rating}`;
                fetch(api)
                .then(response => response.json())
                .then(data => {
                    console.log('data', data);
                    e = rating;
                    document.getElementById("rating").innerHTML = "☆".repeat(5 - e) + "★".repeat(e),
                    document.getElementById("ratingtitle").innerHTML = "Thanks!"
                });
            },
            reportElaborate(page) {
                reportapi = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/report?postid={{post.id}}&page=${page}&type=elaborate`;
                // Your function logic here
                const thankYouMessages = [
                    "Thank you for helping us improve!",
                    "Your feedback has been recorded. Thanks!",
                    "Appreciate your input! We'll look into it.",
                    "Thanks for pointing it out!",
                    "Your feedback matters. Thank you!",
                    "Report received! Thanks for letting us know.",
                    "Thanks for being our second set of eyes!",
                    "Acknowledged! We appreciate your vigilance.",
                    "Your input makes us better. Thank you!",
                    "Report logged! Thanks for the heads up."
                ];
                console.log(page,reportapi);
                fetch(reportapi)
                .then(response => response.json())
                .then(data => {
                    console.log('data', data);
                });
                return thankYouMessages[Math.floor(Math.random() * thankYouMessages.length)];
            },
            async share () {
                  if (navigator.canShare) { 
                        var obj = {
                        url:'{{post.url}}',
                        text: document.title
                        }
                        {# if (image) {
                        const response = await fetch(image);  
                        const blob = await response.blob();
                        const filesArray = [new File([blob], 'image.jpg', { type: "image/jpeg" }) ]
                        obj.files = filesArray
                        } #}

                        navigator.share(obj).then(() => {
                        
                        })
                        .catch(console.error);
                    } 
            },
            loadmore () {
                console.log('loadmore');
            },
        }
    }


        function reactionsData() {
        return {
            showReactions: false,
            selectedEmoji: null,
            previewEmoji: null,
            reactions: [
                { emoji: '👍', count: getRandomCount(), selected: false },
                { emoji: '❤️', count: getRandomCount(), selected: false },
                { emoji: '😂', count: getRandomCount(), selected: false },
                { emoji: '😮', count: getRandomCount(), selected: false },
                { emoji: '😢', count: getRandomCount(), selected: false },
                { emoji: '😠', count: getRandomCount(), selected: false }
            ],
            init() {
                // random 
                this.previewEmoji = this.reactions[Math.floor(Math.random() * this.reactions.length)].emoji;
            },
            incrementCount(index) {
                {# if (!this.reactions[index].selected) { #}
                    this.reactions[index].count++;
                    this.reactions[index].selected = true;
                    this.selectedEmoji = this.reactions[index].emoji;
                    this.showReactions = false;
                    this.sendReaction("{{post.id}}", index, this.reactions[index].emoji);
                {# } #}
            },
            sendReaction(postId, index, label) {
                const url = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/reaction?postid=${postId}&page=${index}&label=${label}`;
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    {# console.log('Success:', data); #}
                })
                .catch((error) => {
                    {# console.error('Error:', error); #}
                });
            }
        };
    }

    function getRandomCount() {
        return Math.floor(Math.random() * 1000); // Random number between 0 and 999
    }


    function keywords() {
        return {
            keywords:[], 
            init() {
                console.log('keywords init')
                // fetch keywords
                this.loadKeywords();

            },
            loadKeywords() {
                
                const filePaths = [
                    'list.json',
                    '/list.json',
                    'https://allwomenstalk.com/list.json'
                ];

                const fetchKeywords = async (filePath) => {
                    try {
                        data = await fetch(filePath)
                        .then(response => {
                            {# console.log('keywords', response); #}
                            if (!response.ok) {
                            throw new Error('Network response was not ok');
                            }
                            return response.json();
                        });
                        return data;
                    } catch (error) {
                        {# console.log(`Failed to fetch keywords from ${filePath}`); #}
                    }
                };

                const fetchKeywordsFromAvailablePath = async () => {
                    for (const filePath of filePaths) {
                    
                        list = await fetchKeywords(filePath);                        
                        if (list) {
                            this.keywords = list.sort(() => 0.5 - Math.random()).slice(0, 6);
                            break;
                        }

                    }
                };

                fetchKeywordsFromAvailablePath();

            }
        }
    }

    function loadJs(e,callback) {
        var t = document.createElement("script");
        t.src = e,
        t.setAttribute("defer", "true"),
        document.documentElement.firstChild.appendChild(t)
        t.onload = function () {
            callback()
        };
    }

    function addMultilineHtml(html, divId) {
        const div = document.getElementById(divId);
        if (div) {
            div.innerHTML = html.trim();
        }
    }

    function getCookieValue(cookieName) {
    const cookies = document.cookie.split(';');

    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();

        if (cookie.startsWith(`${cookieName}=`)) {
        return cookie.split('=')[1];
        }
    }

    return null;
    }


    setTimeout(function() {
        loadJs("https://allwomenstalk.github.io/js/elaborate.2.0.min.js", () => {
            {# console.log('elaborate loaded'); #}
            {# window.elaborate.init(); #}
        });
        loadJs('https://cdn.unibotscdn.com/ubplayer/player.js', () => {
            console.log('ubplayer loaded');
        });
        {# loadJs('/js/elaborate.min.js') #}
        loadJs("https://allwomenstalk.github.io/js/alpine.min.js", () => {
            console.log('alpine loaded');
            
        });
    }, 1000)

    {# disable all logs in production #}
    {% if metadata.NODE_ENV == "production" %}
    
        if(!window.console) window.console = {};
        var methods = ["log", "debug", "warn", "info"];
        for(var i=0;i<methods.length;i++){
            console[methods[i]] = function(){};
        } 

        
    {% endif %}
</script>

{% if metadata.NODE_ENV == "production" %}

    {# bonbon here  #}
    {# {% include "partials/bonbon.njk" %} #}

{% endif %}


{% if post.amp %}
<script async src="https://cdn.ampproject.org/v0.js"></script>
{% endif %}

{% if post.ampyt %}
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{% endif %}


