{# delay alpinejs #}


{# <script src="https://account.allwomenstalk.com/js/cookiecross.js" defer></script> #}
{# {{!-- loadJs('https://account.allwomenstalk.com/js/cookiecross.js'); --}}
{{!-- loadJs('https://account.allwomenstalk.com/js/profile.js'); --}} #}

<script> 
    function data() {
        return {
            title:"Other",
            list:{},
            user: false,
            partials: ["azo","popular","recent"],
            comment: {
                disable: false,
                loadall: true,
            },
            comments: [],
            commentspanel: false,
            commentstatic: true,
            menu: false,
            search: {
                show: false,
                query: '',
                results: [],
                loading: false,
                categories: {{categories|json|safe}},
            },
            source: false,
            banner: {
                show: true,
                strong: "Hello!", 
                text: "", 
                link: "",
                cta: false,
            },
            bookmarked: false,
            init () {
                console.log('init alpine');
                this.bannerinit ()
                this.comment.comment_author = window.localStorage.getItem('comment_author') || '';
                this.comment.comment_author_email = window.localStorage.getItem('comment_author_email') || '';
                this.authcheck();
                // watch query 
                {# this.$watch('search.query', () => {
                    console.log('search obj', this.search);
                    this.getsearch();
                }); #}

                // test
                {# this.search.query = 'red shoes';
                this.getsearch(); #}

                this.showsource();

            },

            bannerinit () {
                console.log('banner init');
                fetch('https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/banner')
                .then(response => response.json())
                .then(data => {
                    this.banner = data;
                    this.banner.show = true;
                });
            },

            showsource() {
                img = "{{post.image}}";
                json = img.replace('.jpg', '.json');
                try {
                    fetch(json)
                    .then(response => response.json())
                    .then(data => {
                        console.log('data', data);
                        this.source = data;
                    });
                } catch (e) {
                    {# console.log('error', e); #}

                }
                
                console.log('img', img);
            },
            showsearch () {
                this.search.show = true;
                this.search.query = '';
                this.search.results = [];
                this.search.categories = this.search.categories.sort(() => 0.5 - Math.random());

            },
            async getsearch() {
                this.search.loading = true;
                // fitter categories


                {# window.originalCategories = null; #}
                if (!window.originalCategories) {
                    console.log('originalCategories not set');
                    originalCategories = [...this.search.categories]; // Make a copy of the original categories
                }

                console.log('originalCategories', originalCategories);

                this.search.categories = originalCategories.filter((category) => {
                    const categoryName = category.name.toLowerCase();
                    const searchQuery = this.search.query.toLowerCase();

                    if (searchQuery === '') {
                        // If the search query is empty, keep all categories
                        return true;
                    }

                    return categoryName.startsWith(searchQuery);
                });
                if (this.search.query.length<3) {this.search.results=[];return};
                this.search.results = [];
                apiurl = "https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/search"
                {# apiurl = "https://kyrbdz2evj.execute-api.us-east-1.amazonaws.com/v1/search" #}
                const url = `${apiurl}?q=${this.search.query}`;
                const response = await fetch(url);
                const data = await response.json();
                
                this.search.results = data.posts;
                this.search.loading = false;
            },

            async authcheck() {
                console.log('authcheck');
                const profileCookieValue = getCookieValue('realm:profile');
                console.log('profileCookieValue', profileCookieValue);
                if (profileCookieValue) {
                    getRealmCookies();
                    this.user = JSON.parse(profileCookieValue);
                    console.log('user', this.user);
                    await this.loadRealmSDK();
                    this.initRealmApp();
                }
            },

            async loadRealmSDK() {
                // Load the Realm Web SDK dynamically
                await loadJs('https://unpkg.com/realm-web/dist/bundle.iife.js');
                // Wait for the Realm object to be available on the global scope
                await new Promise((resolve) => {
                    const checkRealm = setInterval(() => {
                        if (window.Realm) {
                            clearInterval(checkRealm);
                            console.log('realm-web loaded');
                            resolve();
                        }
                    }, 100);
                });
            },

            async initRealmApp() {
                // Initialize the Realm app and define the bookmark function
                console.log('initRealmApp');
                window.app = new Realm.App({ id: 'allwomenstalk-ebogu' });
                console.log('app', window.app);
            },

            bookmark(postId) {
                console.log('Bookmark function called', postId || 'none');
                if (!postId) return;
                if (!this.user) {
                    window.location.href = 'https://auth.allwomenstalk.com/signin?redirect=' + window.location.href;
                }
                // Bookmark function logic using the Realm app
                console.log('user', app);
                console.log('currentUser', app.currentUser);
                const mongo = app.currentUser.mongoClient('mongodb-atlas');
                bookmarks = mongo.db('aws').collection('bookmarks');
                // insert id 
                bookmarks.updateOne(
                    { post_id: postId, account_id: app.currentUser.id },
                    { $set: { post_id: postId, account_id: app.currentUser.id } },
                    { upsert: true }
                );
                console.log('bookmarked', postId);
                this.bookmarked = true;

            }, 

            async getComments(all){
                console.log('getComments', this.user);
                api = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/comments?postid={{post.id}}`;
                if (all) {
                    api = api + '&all=true';
                }
                fetch(api)
                .then(response => response.json())
                .then(data => {
                    // convert date to timestamp
                    data.forEach((item, i) => {
                        data[i].comment_date = new Date(item.comment_date).getTime();
                    });
                    this.comments = data.sort((b, a) => b.comment_date - a.comment_date);
                    this.commentstatic = false;
                    (this.comments.length < 100) ? this.comment.loadall = false : this.comment.loadall = true;
                    if (all) this.comment.loadall = false;
                    setTimeout(() => {
                        if(!all) this.$refs.commentList.scrollTop = this.$refs.commentList.scrollHeight;
                    }, 100); // Adjust the delay as necessary.
                                        
                });
            },
            async commentSubmit () {
                if (this.comment.comment_content.length < 3) {
                    alert('Comment too short');
                    return;
                }
                this.comment.disable = true;
                this.comment.postid = '{{post.id}}';
                console.log('comment', this.comment);

                const functionName = "comment";
                const args = [2, 3]
                    {# const result = await user.callFunction(functionName, ...args);
                    console.log(`Called ${functionName}(${args.join(', ')})`, result); #}

                apiurl = 'https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/comment';
                fetch(apiurl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.comment),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.error) {
                        try {
                            msg = JSON.parse(data.error)
                        } catch (e) {
                            msg = data.error
                        }
                        this.comment.disable = false;
                        alert(msg.message || msg )
                    } else {
                        this.comments.push({...this.comment});
                        this.comment.comment_content = '';
                        this.comment.disable = false;
                    }
                })
                

                // cache name email localy in localstorage 
                window.localStorage.setItem('comment_author', this.comment.comment_author);
                window.localStorage.setItem('comment_author_email', this.comment.comment_author_email);
               

            },
            async check(){
                for (const partial of this.partials) {
                    const element = document.querySelector(`#${partial}`);
                    if (!element) continue;
                    const position = element.getBoundingClientRect();
                    if (!(position.top >= 0 && position.bottom <= window.innerHeight)) continue;
                    console.log(`Element ${partial} is fully visible on screen`);

                    const scriptUrl = `/js/${partial}.js`;
                    await loadJs(scriptUrl, async () => {
                        console.log(`Script ${scriptUrl} loaded successfully`);
                        this.partials.splice(this.partials.indexOf(partial), 1); // removing from array
                    
                        await addMultilineHtml(window[partial].html, partial);
                        console.log(`HTML for ${partial} added to ${partial}`);

                        this.list[partial] = await window[partial].load(2);
                        console.log(`Data for ${partial} loaded:`, this.list[partial]);                        
                    });

                }

            },
            rate(rating){
                console.log('rating', rating);
                // api call
                // https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/rate?postid=000&rating=5
                api = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/rate?postid={{post.id}}&rating=${rating}`;
                fetch(api)
                .then(response => response.json())
                .then(data => {
                    console.log('data', data);
                    e = rating;
                    document.getElementById("rating").innerHTML = "☆".repeat(5 - e) + "★".repeat(e),
                    document.getElementById("ratingtitle").innerHTML = "Thanks!"
                });
            },
            reportElaborate(page) {
                reportapi = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/report?postid={{post.id}}&page=${page}&type=elaborate`;
                // Your function logic here
                const thankYouMessages = [
                    "Thank you for helping us improve!",
                    "Your feedback has been recorded. Thanks!",
                    "Appreciate your input! We'll look into it.",
                    "Thanks for pointing it out!",
                    "Your feedback matters. Thank you!",
                    "Report received! Thanks for letting us know.",
                    "Thanks for being our second set of eyes!",
                    "Acknowledged! We appreciate your vigilance.",
                    "Your input makes us better. Thank you!",
                    "Report logged! Thanks for the heads up."
                ];
                console.log(page,reportapi);
                fetch(reportapi)
                .then(response => response.json())
                .then(data => {
                    console.log('data', data);
                });
                return thankYouMessages[Math.floor(Math.random() * thankYouMessages.length)];
            },
            async share () {
                  if (navigator.canShare) { 
                        var obj = {
                        url:'{{post.url}}',
                        text: document.title
                        }
                        {# if (image) {
                        const response = await fetch(image);  
                        const blob = await response.blob();
                        const filesArray = [new File([blob], 'image.jpg', { type: "image/jpeg" }) ]
                        obj.files = filesArray
                        } #}

                        navigator.share(obj).then(() => {
                        
                        })
                        .catch(console.error);
                    } 
            },
            loadmore () {
                console.log('loadmore');
            },
        }
    }


    function reactionsData() {
        return {
            showReactions: false,
            selectedEmoji: null,
            previewEmoji: null,
            reactions: [
                { emoji: '👍', count: getRandomCount(), selected: false },
                { emoji: '❤️', count: getRandomCount(), selected: false },
                { emoji: '😂', count: getRandomCount(), selected: false },
                { emoji: '😮', count: getRandomCount(), selected: false },
                { emoji: '😢', count: getRandomCount(), selected: false },
                { emoji: '😠', count: getRandomCount(), selected: false }
            ],
            init() {
                // random 
                this.previewEmoji = this.reactions[Math.floor(Math.random() * this.reactions.length)].emoji;
            },
            incrementCount(index) {
                {# if (!this.reactions[index].selected) { #}
                    this.reactions[index].count++;
                    this.reactions[index].selected = true;
                    this.selectedEmoji = this.reactions[index].emoji;
                    this.showReactions = false;
                    this.sendReaction("{{post.id}}", index, this.reactions[index].emoji);
                {# } #}
            },
            sendReaction(postId, index, label) {
                const url = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/reaction?postid=${postId}&page=${index}&label=${label}`;
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    {# console.log('Success:', data); #}
                })
                .catch((error) => {
                    {# console.error('Error:', error); #}
                });
            }
        }
    }

    function getRandomCount() {
        return Math.floor(Math.random() * 1000); // Random number between 0 and 999
    }

    function keywords() {
        return {
            keywords:[], 
            init() {
                console.log('keywords init')
                // fetch keywords
                this.loadKeywords();

            },
            loadKeywords() {
                
                const filePaths = [
                    'list.json',
                    '/list.json',
                    'https://allwomenstalk.com/list.json'
                ];

                const fetchKeywords = async (filePath) => {
                    try {
                        data = await fetch(filePath)
                        .then(response => {
                            {# console.log('keywords', response); #}
                            if (!response.ok) {
                            throw new Error('Network response was not ok');
                            }
                            return response.json();
                        });
                        return data;
                    } catch (error) {
                        {# console.log(`Failed to fetch keywords from ${filePath}`); #}
                    }
                };

                const fetchKeywordsFromAvailablePath = async () => {
                    for (const filePath of filePaths) {
                    
                        list = await fetchKeywords(filePath);                        
                        if (list) {
                            this.keywords = list.sort(() => 0.5 - Math.random()).slice(0, 6);
                            break;
                        }

                    }
                };

                fetchKeywordsFromAvailablePath();

            }
        }
    }

    function loadJs(e,callback) {
        var t = document.createElement("script");
        t.src = e,
        t.setAttribute("defer", "true"),
        document.documentElement.firstChild.appendChild(t)
        t.onload = function () {
            if (callback) callback()
        };
    }

    function addMultilineHtml(html, divId) {
        const div = document.getElementById(divId);
        if (div) {
            div.innerHTML = html.trim();
        }
    }

    function getCookieValue(cookieName) {
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.startsWith(`${cookieName}=`)) {
            return cookie.split('=')[1];
            }
        }

        return null;
    }

    function newsletterComponent() {
        return {
            postId: '{{post.id}}',  // Assuming you have a postId
            postUrl: '{{post.url}}', // Assuming you have a postUrl
            email: '',
            message: '',
            titles: [],
            title: '',
            subtitle: '',
            offer: "Subscriber Specials",
            init() {
            
                this.setupObserver();

            },
            setTitle() {
                jsonurl = 'https://allwomenstalk.github.io/data/newsletter.json'
                fetch(jsonurl)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    this.titles = data;
                    
                });
                const randomIndex = Math.floor(Math.random() * this.titles.length);
                this.title = this.titles[randomIndex].title;
                this.subtitle = this.titles[randomIndex].subtitle;
            },
            async sub() {
            try {
                params = {
                title: this.title,
                subtitle: this.subtitle,
                offer: this.offer
                }
                console.log(params, this.email);
                const url = 'https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/newsletter';
                const payload = {
                params: params,
                email: this.email,
                postTitle: this.postTitle,
                postId: this.postId
                };

                const response = await fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
                });

                if (!response.ok) throw new Error('Network response was not ok');
                
                const data = await response.json();
                console.log(data);
                this.message = 'Done! Thank you for subscribing!'; // Set a success message
                localStorage.setItem('email', this.email); // Save the email to localStorage
                this.track('action');
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
                this.message = 'There was an error with your subscription.'; // Set an error message
            }
            },
            async sendFormVisibleEvent() {
                // Add your API call logic here
                console.log('Form is visible on the screen');
                this.setTitle();
                this.track('impression');
            },
            setupObserver() {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                if (entry.isIntersecting) {
                    this.sendFormVisibleEvent();
                }
                });
            }, { threshold: 0.5 });

            observer.observe(this.$el);
            }, 
            async track(event) {
            {# event = "action" || "impression" #}
            trackapi = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/stats`
            const bodyContent = {
                    keys: {
                        post_id: this.postId,
                        type: 'foodnewsletter',  // Any other key-value pairs
                        post_url: this.postUrl, 
                    },
                    inc: {
                        [`${event}.${this.title}`]: 1  // Increment specific answer count (e.g., 'A', 'B', 'C')
                    }
                };
                // add global track and imp to match the report
                if (event == "action"){
                    bodyContent.inc.track_count = 1
                } else {
                    bodyContent.inc.impressions = 1
                }

                try {
                    const response = await fetch(trackapi, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(bodyContent)
                    });
                    {# console.log('Event tracked:', await response.json()); #}
                } catch (error) {
                    console.error('Error tracking event:', error);
                }
            }
        }
    }


    function beacontrack(obj) {
        const trackapi = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/beacon`;

        // Use sendBeacon for sending the tracking data
        const beaconData = new Blob([JSON.stringify(obj)], { type: 'application/json' });
        const success = navigator.sendBeacon(trackapi, beaconData);

    }

    setTimeout(function() {
        loadJs("https://allwomenstalk.github.io/js/elaborate.2.0.min.js", () => {
            {# console.log('elaborate loaded'); #}
            {# window.elaborate.init(); #}
        });
        loadJs('https://cdn.unibotscdn.com/player/mvp/player.js', () => {
            console.log('ubplayer loaded');
        });
        {# loadJs('/js/elaborate.min.js') #}
        loadJs("https://allwomenstalk.github.io/js/alpine.min.js", () => {
            console.log('alpine loaded');
        });
    }, 1000)

    {# disable all logs in production #}
    {% if metadata.NODE_ENV == "production" %}
    
        if(!window.console) window.console = {};
        var methods = ["log", "debug", "warn", "info"];
        for(var i=0;i<methods.length;i++){
            console[methods[i]] = function(){};
        } 

        
    {% endif %}


    document.addEventListener('alpine:init', () => {


    const bannerHtml = `
<div class="flex items-center gap-x-6 bg-gray-900 px-3.5 py-2.5 sm:px-3.5 before:flex-1">
  <p class="text-sm leading-6 text-white opacity-0"
     :class="{ 'opacity-100': banner.text }"
     x-transition x-transition.duration.2500ms
     >
    <a :href="banner.link" target="_blank">
      <strong x-text="banner.strong" class="font-semibold"></strong>
      <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
      <span x-text="banner.text"></span>
      <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
      <span class="flex-none rounded-full whitespace-nowrap bg-gray-50 px-3.5 py-1 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        <span x-text="banner.cta" class="hidden sm:inline-block"></span>
        <span aria-hidden="true">&rarr;</span>
      </span>
    </a>
  </p>
  <div class="flex flex-1 justify-end">
    <a href="https://allwomenstalk.com/banner/" target="_blank" class="text-white opacity-40 hover:opacity-80 inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
      <span class="md:hidden text-black">Ad</span>
      <span class="hidden md:inline-block text-black">Adverise here</span>
    </a>
  </div>
</div>
    `;

    // Assuming you have a div with id="text-banner"
    const targetDiv = document.getElementById('txtad');
    if(targetDiv) {
        targetDiv.innerHTML = bannerHtml;
    }
});





function getRealmCookies () {
    // Get the values from the cookies
    var userId = getCookie('realm:userId');
    var deviceId = getCookie('realm:deviceId');
    var accessToken = getCookie('realm:accessToken');
    var profile = getCookie('realm:profile');
    var providerType = getCookie('realm:providerType');
    var refreshToken = getCookie('realm:refreshToken');
    var logout = getCookie('realm:logout');
    console.log("logout cookie: " + logout)
    // Set the values in localStorage and return logout status
    if (userId !== undefined) {
        var userIds = JSON.stringify([userId]);
        localStorage.setItem('realm-web:app(allwomenstalk-ebogu):userIds', userIds);
    } else {
        return logout? true: false;
    }

    if (deviceId !== undefined) {
        localStorage.setItem('realm-web:app(allwomenstalk-ebogu):deviceId', deviceId);
      }
      if (accessToken !== undefined) {
        localStorage.setItem('realm-web:app(allwomenstalk-ebogu):user(' + userId + '):accessToken', accessToken);
      }
      if (profile !== undefined) {
        localStorage.setItem('realm-web:app(allwomenstalk-ebogu):user(' + userId + '):profile', profile);
      }
      if (providerType !== undefined) {
        localStorage.setItem('realm-web:app(allwomenstalk-ebogu):user(' + userId + '):providerType', providerType);
      }
      if (refreshToken !== undefined) {
        localStorage.setItem('realm-web:app(allwomenstalk-ebogu):user(' + userId + '):refreshToken', refreshToken);
      }
      
    // Function to get a cookie by name
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }

   
}

</script>

{% if metadata.NODE_ENV == "production" %}

    {# bonbon here  #}
    {% include "partials/bonbon.njk" %}

{% endif %}


{% if post.amp %}
<script async src="https://cdn.ampproject.org/v0.js"></script>
{% endif %}

{% if post.ampyt %}
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{% endif %}


