<script src="/js/alpine.js" defer></script>
{# delay alpinejs #}


{# <script src="https://account.allwomenstalk.com/js/cookiecross.js" defer></script> #}
{# {{!-- loadJs('https://account.allwomenstalk.com/js/cookiecross.js'); --}}
{{!-- loadJs('https://account.allwomenstalk.com/js/profile.js'); --}} #}

<script> 
    function data () {
        return {
            title:"Other",
            list:{},
            user: false,
            partials: ["azo","popular","recent"],
            comment: {},
            comments: [],
            menu: false,
            search: {
                show: false,
                query: '',
                results: [],
                categories: {{categories|json|safe}},
            },
            init () {
                console.log('init alpine');
                this.comment.comment_author = window.localStorage.getItem('comment_author') || '';
                this.comment.comment_author_email = window.localStorage.getItem('comment_author_email') || '';
                this.authcheck();
                // watch query 
                this.$watch('search.query', () => {
                    console.log('search obj', this.search);
                    this.getsearch();
                });
                // test
                {# this.search.query = 'red shoes';
                this.getsearch(); #}
            },
            showsearch () {
                this.search.show = true;
                this.search.categories = this.search.categories.sort(() => 0.5 - Math.random());
                this.$nextTick(() => {
                    setTimeout(() => {
                    this.$refs.searchInput.focus();
                    }, 100);
                });
            },
            async getsearch() {
                console.log('search', this.search.query);
                if (this.search.query.length<3) return;
                this.search.results = [];
                const url = `https://kyrbdz2evj.execute-api.us-east-1.amazonaws.com/v1/search?q=${this.search.query}`;
                const response = await fetch(url);
                const data = await response.json();
                console.log('data', data);
                this.search.results = data.posts;
            },
            async authcheck() {
                {# checking if profile cookie exists and then loads profile and realm #}
                console.log('authcheck');
                const profileCookieValue = getCookieValue('realm:profile');
                console.log('profileCookieValue', profileCookieValue);
                if (profileCookieValue) {

                    this.user = JSON.parse(profileCookieValue);
                    console.log('user', this.user);
                    await loadJs('https://account.allwomenstalk.com/js/profile.js', () => {
                        console.log('profile.js loaded');
                    });
                    await loadJs('https://unpkg.com/realm-web/dist/bundle.iife.js', () => {
                        console.log('realm-web loaded');
                    });
                }
            },
            commentSubmit () {
                console.log('comment', this.comment);
                this.comments.push(this.comment);
                console.log('comments', this.comments);
                // cache name email localy in localstorage 
                window.localStorage.setItem('comment_author', this.comment.comment_author);
                window.localStorage.setItem('comment_author_email', this.comment.comment_author_email);
                this.comment.comment_content = '';

            },
            async check(){
                for (const partial of this.partials) {
                    const element = document.querySelector(`#${partial}`);
                    if (!element) continue;
                    const position = element.getBoundingClientRect();
                    if (!(position.top >= 0 && position.bottom <= window.innerHeight)) continue;
                    console.log(`Element ${partial} is fully visible on screen`);

                    const scriptUrl = `/js/${partial}.js`;
                    await loadJs(scriptUrl, async () => {
                        console.log(`Script ${scriptUrl} loaded successfully`);
                        this.partials.splice(this.partials.indexOf(partial), 1); // removing from array
                    
                        await addMultilineHtml(window[partial].html, partial);
                        console.log(`HTML for ${partial} added to ${partial}`);

                        this.list[partial] = await window[partial].load(2);
                        console.log(`Data for ${partial} loaded:`, this.list[partial]);

                        
                    });

                }

            },
            async share () {
                  if (navigator.canShare) { 
                        var obj = {
                        url:'{{post.url}}',
                        text: document.title
                        }
                        {# if (image) {
                        const response = await fetch(image);  
                        const blob = await response.blob();
                        const filesArray = [new File([blob], 'image.jpg', { type: "image/jpeg" }) ]
                        obj.files = filesArray
                        } #}

                        navigator.share(obj).then(() => {
                        
                        })
                        .catch(console.error);
                    } 
            }
        }
    }

    function keywords() {
        return {
            keywords:[], 
            init() {
                console.log('keywords init')
                // fetch keywords
                this.loadKeywords();

            },
            loadKeywords() {
                try {
                const filePaths = [
                    'keywords.json',
                    '/keywords.json',
                    'https://allwomenstalk.com/keywords.json'
                ];

                const fetchKeywords = (filePath) => {
                    return fetch(filePath)
                    .then(response => {
                        if (!response.ok) {
                        throw new Error('Network response was not ok');
                        }
                        return response.json();
                    });
                };

                const fetchKeywordsFromAvailablePath = async () => {
                    for (const filePath of filePaths) {
                    try {
                        list = await fetchKeywords(filePath);
                        this.keywords = list.sort(() => 0.5 - Math.random()).slice(0, 6);
                        break;
                    } catch (error) {
                        console.log(`Failed to fetch keywords from ${filePath}`);
                    }
                    }
                };

                fetchKeywordsFromAvailablePath();
                } catch (error) {
                console.log('General error:', error);
                }

            }
        }
    }

    function loadJs(e,callback) {
        var t = document.createElement("script");
        t.src = e,
        t.setAttribute("defer", "true"),
        document.documentElement.firstChild.appendChild(t)
        t.onload = function () {
            callback()
        };
    }

    function addMultilineHtml(html, divId) {
        const div = document.getElementById(divId);
        if (div) {
            div.innerHTML = html.trim();
        }
    }

    function getCookieValue(cookieName) {
    const cookies = document.cookie.split(';');

    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();

        if (cookie.startsWith(`${cookieName}=`)) {
        return cookie.split('=')[1];
        }
    }

    return null;
    }

    {# disable all logs in production #}
    {% if metadata.NODE_ENV == "production" %}
    if(!window.console) window.console = {};
    var methods = ["log", "debug", "warn", "info"];
    for(var i=0;i<methods.length;i++){
        console[methods[i]] = function(){};
    }
    {% endif %}


</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17514583-34"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('set', {'dimension1': '{{metadata.version}}'});
  gtag('config', 'UA-17514583-34');
</script>
