{% if not post.noads %}
<div id="leaderboard" class="h-64 sm:h-24 lg:h-64 text-center overflow-hidden flex flex-wrap content-center bg-white" align="center">
    <div id="HeaderAd" class=" mx-auto"></div>
</div>

<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
window.googletag = window.googletag || {cmd: []};
googletag.cmd.push(function() {
    try {
        // Define the initial slots present on the page
        var slot = googletag.defineSlot('/5445743/AWS-Universal', [[970,250],[300,250],'fluid'], 'HeaderAd')
            .setTargeting('postID', '{{post.id}}')
            .setTargeting('category', '{{post.category}}')
            .setTargeting('position', 'HeaderAd')
            .setCollapseEmptyDiv(false)
            .addService(googletag.pubads());

        // Define the size mappings for different viewports based on Tailwind CSS breakpoints
        var mapping = googletag.sizeMapping()
            .addSize([1024, 0], [[970, 250]])
            .addSize([640, 0], [[728,90], [468,60]])
            .addSize([0, 0], [[300,250]])
            .build();

        // Assign the size mapping to the slot
        slot.defineSizeMapping(mapping);

        // Enable single request mode in Google Publisher Tag
        googletag.pubads().enableSingleRequest();

        // Enable services that are set to be enabled
        googletag.enableServices();

        googletag.cmd.push(function() {
            // Display the ad in the specified slot
            googletag.display('HeaderAd');
        });
    } catch (error) {
        // Log the error to the console
        console.error("An error occurred while setting up the Google Ad: ", error);
    }
});

</script>
{% endif %}
