<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-4 p-4 max-w-screen-xl mx-auto">
{% set loopNumber = 0 %}
{% for post in list %}
  

    {% set loopNumber = loopNumber+1 %}

    {% include "postslist.njk" %}
    {% if loopNumber % 7 == 0 %}
    </div> 
    
      {% if loopNumber == 7 %}
        {# <span class="slice"></span>  #}
       {% include "partials/trivia.njk" %} 
       
      {% elif loopNumber == 14 %}
        {% include "quiz.njk" %}
      {% elif loopNumber == 21 %}
        {% include "partials/stories.njk" %}
      {% else %}
        {% include "partials/gpthero.njk" %}
      {% endif %}
      
      

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-4 p-4 max-w-screen-xl mx-auto">
    {% endif %}

  
{% endfor %}
</div>