

<div @scroll.window="handleScroll" x-init="loadposts('{{category}}')"class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-8 lg:grid-cols-6 lg:gap-4 xl:gap-8 p-4 max-w-screen-xl mx-auto">



<template x-for="list in posts" >
  <template x-for="(post, index) in list" :key="index">
    <a  :href="post.url ? post.url : null" 
    @click="post.url ? null : (select(post), $event.preventDefault())"
       :title="post.title"
       class="text-gray-900 rounded-lg hover:opacity-70 relative"
       :class="{'col-span-full sm:grid grid-cols-2 h-88': index % 7 === 6}">
      
      <div class="aspect-w-1 aspect-h-1 overflow-hidden bg-cover bg-center fixed"
            :class="{
                'h-full rounded-b' : post.type == 'feed',
                'h-64 rounded-t sm:rounded-t-none sm:rounded-l': index % 7 === 6,
                'rounded-t ': index % 7 !== 6
            }">

        <img class="object-cover w-full h-full" 
             :class="post.hue ? post.hue : ''"
             :src="post.image" 
             :alt="post.title" 
             loading="lazy" 
             decoding="async">
        <!-- 
        saturate-200 -hue-rotate-[30deg] hue-rotate-[30deg] hue-rotate-[45deg] hue-rotate-[60deg] hue-rotate-[90deg] hue-rotate-[180deg] hue-rotate-[240deg] hue-rotate-[270deg] hue-rotate-[300deg]
        -->
      </div>
      
      <div class="border border-gray-300 rounded-b p-4 flex flex-col justify-between leading-normal h-56 cardtitle bg-white dark:bg-gray-900"
           :class="{
                'absolute top-0 bg-opacity-0 text-white text-sm sm:text-lg lg:text-base font-bold border-0': post.type == 'feed',
                'text-xs': post.type != 'feed',
                'md:border-l-0 sm:rounded-r sm:roun-l-none sm:h-full': index % 7 === 6
            }">
        <div>
          <p class="text-xs opacity-50 flex items-center uppercase" x-text="post.category">
            <!-- Category will be dynamically filled -->
          </p>
          
          <h2 class="uppercase my-2"
              :class="{'text-xl capitalize font-bold sm:text-3xl lg:text-5xl': index % 7 === 6}" 
              x-text="post.title">
            <!-- Title will be dynamically filled by Alpine.js -->
          </h2>

        </div>
        
        <div class="flex items-center opacity-70">
          <div x-show="post.date" class="text-xs">
            <p class="leading-none" x-text="formattedDate(post.date)"></p>
          </div>
        </div>
      </div>
    </a>
  </template>



</template>
</div>

<div x-show="loading"  class="text-center my-12">
  {% include "partials/spinner.njk" %}
</div>

{% include "partials/modal.njk" %}

