

{% set page_url = post.url %}
{% set media_url = 'https://pub-18d6387089a74708bbaea195784cb0ec.r2.dev/slide-'+post.id+'.png' %}
{% set cover_url = post.image %}
{% set description = post.title %}

<div class="max-w-2xl mx-auto my-8 px-4 lg:px-8">
    <div x-data="makepin({
            postId: '{{ post.id }}',
            mediaUrl: '{{ media_url }}',
            postTitle: '{{ post.title | escape }}', 
            postUrl: '{{ page_url | escape }}'
        })" class="w-full grid overflow-hidden rounded-md ring-4 ring-red-600"> 
        <button @click="pinit()" 
            {# href="https://www.pinterest.com/pin/create/button/?url={{ page_url | urlencode }}&media={{ media_url | urlencode }}&description={{ description | urlencode }}" #}
            class="grid w-full rounded-b-md bg-red-600text-sm font-semibold text-white shadow-sm bg-red-600 hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 ">
            
            <img class="mx-auto -mt-20 overflow-hidden" src="{{ media_url }}" alt="Image">
            <div class="flex items-center justify-center space-x-2  px-2.5 py-1.5 ">
            <svg class="w-8 text-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.935 2.375a9.625 9.625 0 0 0-3.507 18.563a9.102 9.102 0 0 1 0-2.75l1.135-4.813A3.472 3.472 0 0 1 9.3 12c0-1.334.777-2.338 1.74-2.338a1.21 1.21 0 0 1 1.217 1.375c0 .532-.218 1.236-.446 1.974c-.125.407-.254.825-.352 1.23a1.375 1.375 0 0 0 1.43 1.74c1.705 0 3.025-1.809 3.025-4.407a3.804 3.804 0 0 0-4.022-3.919a4.166 4.166 0 0 0-4.345 4.18a3.726 3.726 0 0 0 .688 2.193a.303.303 0 0 1 .068.275c-.075.303-.24.963-.268 1.093c-.027.13-.144.213-.323.13c-1.203-.563-1.952-2.316-1.952-3.732c0-3.032 2.207-5.823 6.36-5.823c3.333 0 5.932 2.378 5.932 5.562c0 3.313-2.062 5.98-4.998 5.98a2.586 2.586 0 0 1-2.207-1.1l-.598 2.29a10.69 10.69 0 0 1-1.196 2.523a9.74 9.74 0 0 0 2.88.399a9.625 9.625 0 0 0 0-19.25"/>
            </svg>
            
            <span class="no-underline">Pin it</span>
            </div>
        </button>
    </div>
</div>


<script>

    function makepin(props) {
        return {
            postId: props.postId,
            mediaUrl: props.mediaUrl,
            postTitle: props.postTitle,
            postUrl: props.postUrl,
            pinurl: null, 
            init() {
                console.log('init pin');
                
                fetch(this.mediaUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Process the response if needed
                })
                .catch(error => {
                    console.error('Error fetching media:', error);
                    this.mediaUrl = '{{ cover_url }}';
                });

            },
            async pinit() {
                console.log('pinit');

                // Open a blank window immediately on user action to avoid popup blockers
                let newWindow = window.open('about:blank', '_blank');

                obj= {
                    type: 'pinterest',
                    action:1,
                    post_id: this.postId,
                    item: {
                        post_title: this.postTitle,
                        post_url: this.postUrl,
                        post_image: this.mediaUrl
                    }
                }
                beacontrack(obj)

                // Assuming the fetch is for tracking and doesn't need a response processed here
                // Update the new window location after tracking succeeds
                if (newWindow) {
                    newWindow.location.href = 'https://www.pinterest.com/pin/create/button/?url=' + encodeURIComponent(this.postUrl) + '&media=' + encodeURIComponent(this.mediaUrl) + '&description=' + encodeURIComponent(this.description);
                } else {
                    console.error('Popup was blocked or closed by the user.');
                }
            }

        }
    }



let buttonsAdded = false; // Flag to ensure buttons are added only once

window.addEventListener('scroll', function() {
    // Check if buttons have already been added or if the page hasn't been scrolled enough
    if (buttonsAdded || window.scrollY + window.innerHeight < 1200) {
        return;
    }
    
    // Scroll position has exceeded 1200px and buttons haven't been added yet
    console.log('Adding Pin It buttons');
    addPinItButtons();
    buttonsAdded = true; // Update flag to prevent adding buttons again
});

function addPinItButtons() {
    // Find all images inside .post divs and append created Pin It buttons
    const postId = '{{ post.id }}'; // You should replace placeholders with actual JS variables
    const postTitle = '{{ post.title | escape }}'; // Ditto
    const postUrl = '{{ page_url | escape }}'; // Ditto
    
    const images = document.querySelectorAll('.post img');
    images.forEach(image => {
        if (!image.nextElementSibling || !image.nextElementSibling.classList.contains('pin-it-button')) {
            // Assume postId, postTitle, postUrl, and mediaUrl are correctly fetched or defined
            console.log('Adding Pin It button for image:', image.src)
            const pinItButton = createPinItButton(image.src, image.alt || postTitle, postId, postTitle, postUrl);
            image.parentNode.insertBefore(pinItButton, image.nextSibling);
        }
    });
}


function createPinItButton(imageSrc, imageAlt, postId, postTitle, postUrl) {
    // Construct the Pinterest URL
    const pinterestUrl = `https://www.pinterest.com/pin/create/button/?url=${encodeURIComponent(postUrl)}&media=${encodeURIComponent(imageSrc)}&description=${encodeURIComponent(imageAlt)}`;

    // Construct the tracking API URL (assuming you have these variables available)
    {# const trackapi = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/track?type=pinterestinpost&post_id=${encodeURIComponent(postId)}&post_title=${encodeURIComponent(postTitle)}&post_url=${encodeURIComponent(postUrl)}&post_image=${encodeURIComponent(imageSrc)}`; #}

    // Create an <a> element instead of a button
    const link = document.createElement('a');
    link.className = "-mt-6 mb-4 w-full text-white rounded-md bg-red-600 px-2.5 py-1.5 text-sm font-semibold shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 flex items-center justify-center space-x-2 pin-it-button";
    link.href = pinterestUrl;
    link.style.textDecoration = 'none';
    link.target = '_blank'; // Ensure it opens in a new tab/window
    link.innerHTML = `<span class="text-white">Pin it</span>`;

    // Attach a click event listener for tracking
    link.addEventListener('click', function(e) {

        obj= {
            type: 'pinterest',
            action:1, 
            post_id: postId,
            item: {
                post_title: postTitle,
                post_url: postUrl,
                post_image: imageSrc
            }
        }
        beacontrack(obj)

        // Optionally prevent the default action if you want to ensure tracking happens before navigating
        // e.preventDefault();



    });

    return link;
}



{# function createPinItButton(imageSrc, imageAlt, postId, postTitle, postUrl) {
    // Create the button element with classes and set its type
    mediaUrl = imageSrc;
    const button = document.createElement('button');
    button.className = "w-full rounded-md bg-red-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 flex items-center justify-center space-x-2 pin-it-button";
    button.type = 'button';

    // Add inner content (e.g., SVG, text) to the button
    button.innerHTML = `<path fill="currentColor" d="M11.935 2.375a9.625 9.625 0 0 0-3.507 18.563a9.102 9.102 0 0 1 0-2.75l1.135-4.813A3.472 3.472 0 0 1 9.3 12c0-1.334.777-2.338 1.74-2.338a1.21 1.21 0 0 1 1.217 1.375c0 .532-.218 1.236-.446 1.974c-.125.407-.254.825-.352 1.23a1.375 1.375 0 0 0 1.43 1.74c1.705 0 3.025-1.809 3.025-4.407a3.804 3.804 0 0 0-4.022-3.919a4.166 4.166 0 0 0-4.345 4.18a3.726 3.726 0 0 0 .688 2.193a.303.303 0 0 1 .068.275c-.075.303-.24.963-.268 1.093c-.027.13-.144.213-.323.13c-1.203-.563-1.952-2.316-1.952-3.732c0-3.032 2.207-5.823 6.36-5.823c3.333 0 5.932 2.378 5.932 5.562c0 3.313-2.062 5.98-4.998 5.98a2.586 2.586 0 0 1-2.207-1.1l-.598 2.29a10.69 10.69 0 0 1-1.196 2.523a9.74 9.74 0 0 0 2.88.399a9.625 9.625 0 0 0 0-19.25"/><span>Pin it</span>`;

    // Set up the button's click event for tracking and redirection
    button.addEventListener('click', function(e) {
        e.preventDefault();
        // Construct and log the tracking API URL
        let trackapi = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/track?type=pinterest&post_id=${encodeURIComponent(postId)}&post_title=${encodeURIComponent(postTitle)}&post_url=${encodeURIComponent(postUrl)}&post_image=${encodeURIComponent(mediaUrl)}`;
        const pinUrl = `https://www.pinterest.com/pin/create/button/?url=${encodeURIComponent(postUrl)}&media=${encodeURIComponent(imageSrc)}&description=${encodeURIComponent(imageAlt)}`;

        console.log(trackapi);

        // Perform the tracking request and handle the response
        fetch(trackapi).then(response => {
            if (response.ok) {
                window.open(pinUrl, '_blank');
            } else {
                console.error('Tracking failed');
            }
        }).catch(error => {
            console.error('Error tracking the click:', error);
        });
    });

    return button;
} #}

// Variables like postId, postTitle, postUrl, and mediaUrl need to be defined or fetched appropriately



</script>

