<div x-data="poll" class="mx-auto max-w-md py-4" >
  <template x-for="(item,i) in poll">
  <div x-show="index==i" class="w-full">
    <div class="p-4 sm:p-0">
      <h4 class="text-base font-semibold leading-7 text-pink-600">Snapshot Survey</h4>
      <question x-html="item.question" class="text-2xl font-bold tracking-tight  sm:text-4xl"></question>
      <div class="grid grid-cols-2 gap-4 mt-5 items-center">
        <template x-for = "(option, x) in item.options">
        <button @click="select(item.question,option)" x-text="option" class="rounded-md bg-pink-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">{{option}}</button>
        </template>
      </div>
    </div>
  </div>
  </template>

  <div x-show="index>0&&index==poll.length" x-cloak class="mx-auto  py-16 ">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-10 px-6">
      <div>
        <p class="block text-2xl sm:text-4xl font-bold tracking-tight ">Thank you for sharing your thoughts!</p>
        <p class="block text-lg tracking-normal">Your voice matters to us. Happy reading!</p>
      </div>
    </div>
  </div>

  

</div>

<script>
    function poll() {
        return {
    // random number between 0 and and poll length
    index: 0,
    email: "",
    choices: [],
    poll: [],
    init() {
        console.log('init poll')
        fetch('../poll.json')
        .then(response => response.json())
        .then(data => {
            this.poll = data
            // shuffle the poll
            console.log('data init')
            this.poll = this.poll.sort(() => Math.random() - 0.5)
            {# this.poll.forEach((item) => {
                item.question = splitText(item.question).join('<br>')
            }) #}
            // get randob lengths subarray but no less than 3
            this.poll = this.poll.slice(0,3)
        })

    },
    select(q,choice) {
      console.log(q, choice)
      this.choices.push({q,choice})
      this.vote({
        q: q,
        a: choice,
        index: this.index
      })
      this.index++
    },
    vote (obj) {
        console.log(obj)
        fetch('https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/vote', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(obj)
        })
        .then(response => {
            console.log(response.json())
        })
        .catch(error => {
            console.log(error)
        });

    },
    sub() {
      console.log(this.choices, this.email)
      this.index++
      const url = 'https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/newsletter';
      const payload = { params: this.choices, email: this.email};

      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log(data);
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });

    },
    }
    }

    function splitText(text) {
        const words = text.split(' ');
        const halfIndex = Math.floor(words.length / 2);
        return [words.slice(0, halfIndex).join(' '), words.slice(halfIndex).join(' ')];
    }
</script>