<div x-data="quizComponent()" x-ref="quizblock" class="mx-auto max-w-md py-4">
    <template x-if="currentQuestionIndex < questions.length">
        <div x-show="currentQuestionIndex < questions.length" x-transition.300 class="w-full">
            <div class="p-4 sm:p-0">
                <h4 class="text-base font-semibold leading-7 text-pink-600" x-text="'Quiz: '+title"></h4>
                <p x-show="currentQuestionIndex < questions.length" x-cloak class="mt-5 text-sm font-semibold text-gray-600" x-text="`${currentQuestionIndex + 1}/${questions.length}`"></p>
                <p x-html="questions[currentQuestionIndex].question" class="text-2xl font-bold tracking-tight sm:text-4xl"></p>
                <form class="mt-5">
                    <div class="grid grid-cols-1 gap-4 mt-5 items-center">
                        <template x-for="(option, key) in questions[currentQuestionIndex].options"  :key="`question-${currentQuestionIndex}-option-${key}`">
                            <label class="block rounded-md bg-pink-100 px-3.5 py-2.5 text-sm font-semibold text-pink-600 shadow-sm hover:bg-pink-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">
                                <input type="radio" :name="'question' + currentQuestionIndex" :value="key" class="mr-2 accent-pink-500" x-model="answers[currentQuestionIndex]" @change="nextQuestion">
                                <span x-text="option.text"></span>
                            </label>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </template>
    <template x-if="currentQuestionIndex === questions.length">
        <div x-show="currentQuestionIndex === questions.length" x-transition.300 class="w-full">
            <div class="p-4 sm:p-0">
                <h4 class="text-base font-semibold leading-7 text-pink-600">Quiz Complete!</h4>
                {# <p class="text-2xl font-bold tracking-tight sm:text-4xl">See your result below:</p> #}
            </div>
        </div>
    </template>
    {# x-show="result" #}
    <div x-show="result" x-cloak x-transition.300 class="mx-auto p-4 sm:p-0">
        <div class="mx-auto max-w-7xl">
            <div class="max-w-2xl text-base font-bold tracking-tight text-gray-900">
                <h3 class="block text-2xl my-4 sm:text-4xl font-bold tracking-tight" x-text="result"></h3>
                <p class="block text-lg tracking-normal" x-text="resultDescription"></p>
            </div>
            
            <div class="max-w-2xl mx-auto mt-8">
                <div class="max-w-2xl text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl" x-init="setTitle()">
                <p class="opacity-70">Get notified about new quizzes like this.</p>
                </div>
                <form class="mt-10 max-w-md" @submit.prevent="sub()">
                <div class="flex gap-x-4">
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" x-model="email" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" placeholder="Enter your email">
                    <button type="submit" class="flex-none rounded-md bg-pink-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">Subscribe</button>
                </div>
                <p x-text="message" class="mt-4 text-sm leading-6 text-gray-900"></p>
                </form>
            </div>

            {# <div class="mt-10 flex items-center gap-x-6">
                <button @click="restart" class="mt-5 rounded-md bg-pink-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm md:hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">
                    Start Over
                </button>
                <a href="https://quiz.allwomenstalk.com/" class="mt-5 text-sm font-semibold leading-6 text-gray-900">More quizes <span aria-hidden="true">→</span></a>
            </div> #}

        </div>
    </div>
</div>


<script> 
    quizobj = {{ quizzes[post.id] | dump | safe }};
</script>

<script>
    function quizComponent() {
        return {
            postId: '{{post.id}}',  
            postUrl: '{{post.url}}', 
            email:'',
            message: '',
            title: '',
            description: '',
            questions: [
            ],
            results: {
            },
            answers: [],
            currentQuestionIndex: 0,
            result: '',
            resultDescription: '',
            trackProbability: 0.1, 
            observer: null, 

            init() {
                console.log('quizobj:', quizobj)
                this.questions = quizobj.questions;
                this.results = quizobj.results;
                this.title = quizobj.title;
                this.description = quizobj.description;

                if (Math.random() < this.trackProbability) {
                    const weight = 1 / this.trackProbability;
                    this.initIntersectionObserver();
                }
                
            },

            nextQuestion() {
                if (this.answers[this.currentQuestionIndex] !== undefined && this.answers[this.currentQuestionIndex] !== '') {
                    // Track the event immediately after answer selection
                    this.trackEvent();

                    // Delay the transition to the next question
                    setTimeout(() => {
                        this.currentQuestionIndex++;
                        if (this.currentQuestionIndex === this.questions.length) {
                            this.calculateResult();
                        }
                    }, 500); // Delay of 500 milliseconds (0.5 seconds)
                } else {
                    alert("Please select an option before proceeding.");
                }
            },


            calculateResult() {
                // Assuming the points are stored in the questions data and each answer corresponds to a specific question
                const totalPoints = this.answers.reduce((total, answer, index) => {
                    const questionPoints = this.questions[index].options[answer].points || 0;
                    return total + questionPoints;
                }, 0);

                this.result = '';
                this.resultDescription = '';
                
                for (const [key, value] of Object.entries(this.results)) {
                    if (totalPoints >= value.range[0] && totalPoints <= value.range[1]) {
                        this.result = key;
                        this.resultDescription = value.description;
                        break;
                    }
                }
            },

            restart() {
                this.trackEvent('restart');
                this.currentQuestionIndex = 0;
                this.result = '';
                this.resultDescription = '';
                this.answers = [];
            },

            selectOption(key) {
                console.log('key:',key)
                const points = this.questions[this.currentQuestionIndex-1].options[key].points;
                console.log('points:', points)
                if (this.answers[this.currentQuestionIndex] === undefined) {
                    this.answers[this.currentQuestionIndex] = points;
                    if (this.currentQuestionIndex < this.questions.length - 1) {
                        this.currentQuestionIndex++;
                    }
                } else {
                    alert("You've already selected an option for this question.");
                }
            },

            restart(){
                trackEvent()
                this.currentQuestionIndex = 0;
                this.result = '';
                this.resultDescription = '';
                this.answers = [];
            },

            async trackEvent() {
                const obj = {
                    type : 'quiz',
                    action: 1,
                    post_id: this.postId,
                    item: {
                        title: this.title,
                        question: this.questions[trackIndex].question,
                        answer: this.questions[trackIndex].options[answerIndex].text, 
                        index: this.currentQuestionIndex
                    }
                }
                beacontrack(obj)        
            },

            async trackImpression(weight) {
                const obj = {
                    type : 'quiz',
                    impression: weight,
                    post_id: this.postId, 
                    item: {
                       title: this.title,
                    }
                }
                beacontrack(obj)  
            },

            async sub() {

                try {
                    params = {
                        title: this.title,
                        answers: this.answers,
                    }
                    console.log(params, this.email);
                    const url = 'https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/newsletter';
                    const payload = {
                    params: params,
                    email: this.email,
                    postTitle: this.postTitle,
                    postId: this.postId
                    };

                    const response = await fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(payload)
                    });

                    if (!response.ok) throw new Error('Network response was not ok');
                    
                    const data = await response.json();
                    console.log(data);
                    this.message = 'Done! Thank you for subscribing!'; // Set a success message
                    localStorage.setItem('email', this.email); // Save the email to localStorage
                    // this.track('action');
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                    this.message = 'There was an error with your subscription.'; // Set an error message
                }
            },

            initIntersectionObserver() {
                const options = {
                    root: null, // relative to the viewport
                    threshold: 0.1 // Percentage of visibility, adjust as needed
                };

                this.observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            // The element is visible, track the impression
                            const weight = 1 / this.trackProbability;
                            this.trackImpression(weight);
                            // Optional: Stop observing after the first impression is tracked
                            observer.unobserve(entry.target);
                        }
                    });
                }, options);

                // Start observing the quiz block
                this.observer.observe(this.$refs.quizblock);
            },

        };
    }
</script>


{# 
[Log] trackapi: – "https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/track?type=quiz&post_id=54f146bf29ee86141a496042&post_url=http…" (tea-sandwiches-that-are-tiny-but-delicious, line 948, x2)
"https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/track?type=quiz&post_id=54f146bf29ee86141a496042&post_url=https%3A%2F%2Ffood.allwomenstalk.com%2Ftea-sandwiches-that-are-tiny-but-delicious%2F"
 
 [Log] Impression trackapi: (tiny-toothpick-appetizers-thatll-fit-any-occasion, line 1062)
"https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/track?type=quiz&post_id=56809b250c4fe7ed488b4736&post_url=https%3A%2F%2Ffood.allwomenstalk.com%2Ftiny-toothpick-appetizers-thatll-fit-any-occasion%2F&impression=10"
 

 [Log] queryParams: – "type=quiz&post_id=4f32a6fd9d2f6889de3c8aae&questionindex=1&question=What+wind+speed+must+be+reached+or+frequently+exceeded+to+classify+a+sno…" (7-facts-on-blizzards, line 879)
"type=quiz&post_id=4f32a6fd9d2f6889de3c8aae&questionindex=1&question=What+wind+speed+must+be+reached+or+frequently+exceeded+to+classify+a+snowstorm+as+a+blizzard%3F&answer=undefined&post_url=https%3A%2F%2Ftravel.allwomenstalk.com%2F7-facts-on-blizzards%2F"
 
 #}