{# CURRENTLY NOT USED #}
<div x-data="reactionsData()" class="p-2 text-end">
    <button @click="showReactions = !showReactions" x-show="!showReactions" 
        class="focus:outline-none relative inline-flex items-center gap-x-1.5 rounded-md p-1 px-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 hover:text-gray-900 focus:z-10"
        >
        <span x-show="!selectedEmoji" class="p-1">React</span>
        
        {# <svg class="h-4" x-show="!selectedEmoji" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"></path>
        </svg> #}
        <!-- Display the selected emoji -->
        <div x-show="selectedEmoji || previewEmoji" class="p-1 text-md">
            <span x-text="selectedEmoji || previewEmoji"></span>
        </div>
    </button>

    <div x-show="showReactions" class="flex sm:space-x-2 mx-auto text-center">
        <template x-for="(reaction, index) in reactions" :key="index">
            <div @click="incrementCount(index)" 
                :class="{ 'border-1': reaction.selected }" 
                class="relative inline-block p-1 px-2 cursor-pointer ">
                <span x-text="reaction.emoji" class="text-md"></span>
                
                <span 
                    :class="reaction.selected ? 'bg-green-600 text-white' : 'bg-gray-50 text-gray-600'" 
                    class="ring-1 ring-inset ring-gray-500/10 absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 inline-flex items-center rounded-md px-1 py-0 text-xs font-medium" style="font-size: 8px;" x-text="reaction.count"></span> 
               
            </div>
        </template>
    </div>
    
</div>


<script> 
        function reactionsData() {
        return {
            showReactions: false,
            selectedEmoji: null,
            previewEmoji: null,
            reactions: [
                { emoji: '👍', count: getRandomCount(), selected: false },
                { emoji: '❤️', count: getRandomCount(), selected: false },
                { emoji: '😂', count: getRandomCount(), selected: false },
                { emoji: '😮', count: getRandomCount(), selected: false },
                { emoji: '😢', count: getRandomCount(), selected: false },
                { emoji: '😠', count: getRandomCount(), selected: false }
            ],
            init() {
                // random 
                this.previewEmoji = this.reactions[Math.floor(Math.random() * this.reactions.length)].emoji;
            },
            incrementCount(index) {
                {# if (!this.reactions[index].selected) { #}
                    this.reactions[index].count++;
                    this.reactions[index].selected = true;
                    this.selectedEmoji = this.reactions[index].emoji;
                    this.showReactions = false;
                    this.sendReaction("{{post.id}}", index, this.reactions[index].emoji);
                {# } #}
            },
            sendReaction(postId, index, label) {
                const url = `https://us-central1.gcp.data.mongodb-api.com/app/allwomenstalk-ebogu/endpoint/reaction?postid=${postId}&page=${index}&label=${label}`;
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    {# console.log('Success:', data); #}
                })
                .catch((error) => {
                    {# console.error('Error:', error); #}
                });
            }
        }
    }

</script>