{% if post.related.clusterlinks | length > 0 %}

<p class="uppercase tracking-wide text-sm opacity-70 font-bold text-center mt-8">MORE</p>

<div class="overflow-x-scroll mb-6 py-4 no-scrollbar max-w-2xl p-2 mx-auto" id="related">
  <div class="grid sm:grid-cols-2 gap-2">
    
    {% for post in post.related.clusterlinks %}
    
    <p alt="{{ post.title }}" class="flex items-center rounded overflow-hidden overflow-ellipsis whitespace-nowrap m-2 border bg-white dark:border-gray-700">
      {# <img src="{{ post.webp }}" style="width:3.5rem;height:3.5rem;background:#fff" alt="{{ post.title }}" loading="lazy"> #}
      <a href="{{ post.url }}" class=" px-2 text-sm h-12 py-3">{{ post.title }}</a>
    </p>

    {% endfor %}

  </div>
</div>

{% endif %}

