<p class="uppercase tracking-wide text-sm opacity-70 font-bold text-center mt-8">Related Topics</p>


<div class="p-8 text-center">
  {% for post in post.related.clusterlinks | shuffle %}
    <a href="{{post.url}}" class="m-1 inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-base md:text-lg capitalize font-medium text-pink-600 ring-1 ring-inset ring-pink-500/10">
    {{post.title}}
    </a>
  {% endfor %}
</div>