<p class="uppercase tracking-wide text-sm opacity-70 font-bold text-center mt-8">Related</p>

<div class="overflow-x-scroll mb-6 py-4 no-scrollbar max-w-2xl p-2 mx-auto" id="related">
  <div class="grid sm:grid-cols-4 gap-2 align-bottom">
    {% for post in post.related.posts %}
      <a href="{{ post.url }}" class="bg-pink-500 text-white  items-top px-2 text-sm border rounded-md h-44 overflow-hidden" style="padding-top:.25rem">{{ post.title }}</a>
    
    {% endfor %}
  </div>
</div>
