   

<section class=" px-12 py-24 lg:px-8 max-w-xl mx-auto">
  <figure class="mx-auto max-w-xl">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-12 w-12 text-pink-600" viewBox="0 0 16 16">
      <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
    </svg>
    <div class="prose mt-10 text-xl/8 font-semibold tracking-tight text-gray-900 sm:text-2xl/9">
      <p>{{post.related.inline | safe}}</p>
    </div>
    {# <figcaption class="mt-10 flex items-center gap-x-6">
      <img class="size-12 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80" alt="">
      <div class="text-sm/6">
        <div class="font-semibold text-gray-900">Judith Black</div>
        <div class="mt-0.5 text-gray-600">CEO of Workcation</div>
      </div>
    </figcaption> #}
  </figure>
</section>

{# {% if inline %}
<div class="max-w-xl mx-auto my-2 sm:px-4">
  <div class="flex w-ful border-gray-300 dark:border-gray-700 rounded-md  m-2">
      <img src="{{ inline.webp }}" class="h-12 w-12 rounded-full border-2 border-white ring-2 ring-pink-500 flex-shrink-0 object-cover" alt="{{ inline.title }}" loading="lazy"/>
      <div class="flex flex-col justify-center ml-2 overflow-ellipsis overflow-hidden">
          <span class="font-semibold text-xs opacity-70">Related:</span>
          <a href="{{ inline.url }}" class="text-sm text-pink-600 truncate "> {{ inline.title }} </a>
      </div>
  </div>
</div>
{% endif %} #}
