<p class="uppercase tracking-wide text-sm opacity-70 font-bold text-center mt-8">Allwomenstalk Reviews</p>


<section class=" px-6 py-12 sm:py-16 lg:px-8 ">
  <figure class="mx-auto max-w-2xl">
    <p class="sr-only">5 out of 5 stars</p>
    <div class="flex gap-x-1 text-pink-600">
      <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
      </svg>
      <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
      </svg>
      <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
      </svg>
      <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
      </svg>
      <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
      </svg>
    </div>
    <blockquote class="prose mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
      {%for glue in gluereview | shuffle | slicearr(1)  %}
      {{glue | safe}}
      {%endfor%}

    </blockquote>
    <figcaption class="mt-10 flex items-center gap-x-6">
      {# <img class="h-12 w-12 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80" alt=""> #}
      <div class="text-sm leading-6">
        <div class="font-semibold text-gray-900">Judith</div>
        <div class="mt-0.5 text-gray-600">Review Team Lead</div>
      </div>
    </figcaption>
  </figure>
</section>



{# 


<section class="py-12">
  <div class=" px-6">
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl md:text-5xl lg:text-6xl">
        Best Drugstore Foundation
      </h2>
    </div>
  </div>
  <div class="">
    <div class="py-4 lg:mx-auto">
      <div class="relative mt-8">
        <div class="relative -mb-6 w-full overflow-x-auto pb-6 text-center">
          <ul role="list" class="mx-4 inline-flex space-x-8 sm:mx-6">
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/neutrogena-healthy-skin-liquid-makeup-spf-20.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/essence-pretty-natural-hydrating-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/revlon-colorstay-longwear-makeup-for-combination-oily-skin.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/l-oreal-paris-infallible-fresh-wear-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/maybelline-fit-me-matte-poreless-foundation-with-clay.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/wet-n-wild-photo-focus-dewy-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/nyx-professional-makeup-born-to-glow-naturally-radiant-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/covergirl-olay-simply-ageless-3-in-1-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/physicians-formula-butter-believe-it-foundation-concealer.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/e-l-f-cosmetics-flawless-satin-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/almay-make-myself-clear-clear-complexion-makeup.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/black-opal-mineral-matte-creme-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/colourpop-pretty-fresh-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/catrice-cosmetics-hd-liquid-coverage-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/black-radiance-color-perfect-foundation-stick.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/milani-cosmetics-smooth-finish-cream-to-powder-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <li
              class="inline-flex w-24 flex-col text-center border rounded-md mx-auto"
            >
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200"
                >
                  <img
                    src="https://papicr.nyc3.cdn.digitaloceanspaces.com/products/maybelline-super-stay-full-coverage-powder-foundation.jpg"
                    alt=""
                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="items-center justify-between px-4 sm:px-6 lg:px-0 text-center my-12"
  >

  </div>
        <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="https://reviews.allwomenstalk.com/drugstore-foundation/" target="_blank" class="rounded-md bg-pink-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Full Review</a>
        <a href="https://reviews.allwomenstalk.com/" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Explore more reviews <span aria-hidden="true">→</span></a>
      </div>
</section> #}
