    <script type="application/ld+json">
    [
    {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "https://{{post.host}}",
          "name": "All Women's Talk",
          "description": "{{post.description}}",
          "publisher": {
               "@type": "Organization",
               "name": "All Women's Talk",
               "url": "https://allwomenstalk.com/",
               "logo": {
                    "@type": "ImageObject",
                    "url": "https://storage.googleapis.com/aws-static/images/logo-amp.png"
               }
          },
          "potentialAction": {
               "@type": "SearchAction",
               "target": {
                    "@type": "EntryPoint",
                    "urlTemplate": "https://allwomenstalk.com/search/?q={search_term}"
               },
               "query-input": "required name=search_term"
          }
     },

     {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{post.url}}"
      },
      "headline": "{{post.title}}",
      "image": [
        "{{post.imageresize}}?width=1200&height=1200",
        "{{post.imageresize}}?width=1200&height=900",
        "{{post.imageresize}}?width=1200&height=675"
      ],
      "datePublished": "{{post.date}}",
      "dateModified": "{{post.modified}}",
      "publisher": {
               "@type": "Organization",
               "name": "All Women's Talk",
               "url": "https://allwomenstalk.com/",
               "logo": {
                    "@type": "ImageObject",
                    "url": "https://storage.googleapis.com/aws-static/images/logo-amp.png"
               }
          },
      "author": {
               "@type": "Person",
               "name": "{{post.author.name}}"
          }
    }
    {# {{ post.SchemaObjects | safe }} #}

    {% for item in post.SchemaObjects %}
        ,{{ item | safe }}
    {% endfor %}
    ]
    </script>