{% if post.noads  %}
    <div class="sm:px-6 py-8">
    {% include 'partials/keywordsgallery.njk' %}
    </div>
{% else %}
    <div class="ad-slot mx-auto overflow-hidden my-8" id="slot-{{loop.index}}"></div>
{% endif %}
