
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script
    async
    custom-element="amp-story-player"
    src="https://cdn.ampproject.org/v0/amp-story-player-0.1.js"
  ></script>
<div x-data="popularstories" class="w-full text-center max-w-sm mx-auto">
  <div class="flex items-center justify-between px-4">
      <h2 x-text="title" class="text-2xl font-bold tracking-tight">Trending</h2>
      <a href="https://allwomenstalk.com/stories" class="hidden text-sm font-semibold sm:block">
        All stories
        <span aria-hidden="true"> &rarr;</span>
      </a>
  </div>

  <amp-story-player layout="fixed" width="360" height="600" class="rounded-md">
     <script type="application/json">
        {
            "behavior": {
            "autoplay": false,
            "on": "end",
            "action": "circular-wrapping"
            }
        }
    </script>
  </amp-story-player>
  
  <div class="flex w-full px-3">
  <span class="flex w-full isolate justify-between rounded-md shadow-sm">
    <button @click="change(0,-1)" type="button" class="relative inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        <span class="sr-only">Previous</span>
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
        </svg>
    </button>
    <button @click="change(1,0)" type="button" class="w-full text-center relative -ml-px tems-center bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        <span class="">Next Story</span>
    </button>
    <button @click="change(0,1)" type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        <span class="sr-only">Next</span>
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
    </button>
  </span>
</div>

</div>


<script>

const playerEl = document.querySelector('amp-story-player')

function popularstories() {
  return {
    title: "Trending Stories",
    list: [],
    init(){
      fetch('https://allwomenstalk.com/stories/list.json')
      .then(response => response.json())
      .then(data => {
        data.items.sort(() => Math.random() - 0.5);
        this.list = data.items.map (el=> {
          el.title = el.title.replace(/&#39;|[\uD800-\uDBFF][\uDC00-\uDFFF]|[\uD800-\uDFFF]/g, '');
          return el;
        });
        console.log(this.list);

        playerEl.add(this.list.map(el=> {
          return { href: el.url, title: el.title, posterImage: el.image}
        }));
      });
    },
    change(s,n){
      playerEl.go(s,n);
    }
  }
}

</script>