{% if post.toc %}
  <nav id="toc" class="max-w-xl mx-auto">
    <div class="mx-auto max-w-7xl px-4">
      <div class="px-2 py-4 sm:px-6  dark:bg-gray-700/50">
        <p class="text-center text-sm font-medium text-gray-700 dark:text-gray-300">Table of contents</p>
      </div>
      <div class="mx-auto max-w-4xl">
        <div class="overflow-hidden border border-gray sm:rounded-md dark:bg-gray-800/50 dark:shadow-none dark:outline dark:outline-1
            dark:-outline-offset-1 dark:outline-white/10">
          <ol role="list" class="divide-y bg-gray-100 divide-gray-200 dark:divide-white/10">
            {% for item in post.toc %}
              <li class="px-2 py-2 sm:pl-4">
                <a
                  href="#{{ loop.index }}"
                  class="_noaf flex w-full items-start justify-between text-left text-gray-900 dark:text-white hover:text-blue-600
                    dark:hover:text-blue-400">
                  <span class="text-xs font-semibold leading-7 uppercase whitespace-nowrap overflow-hidden overflow-ellipsis">
                    <span class="text-gray-400 dark:text-blue-400 font-bold mr-2">{{ loop.index | toRoman }}.</span>{{ item | safe }}</span>
                  <span class="ml-6 flex h-7 items-center">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path
                        fill-rule="evenodd"
                        d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22
                          6.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd"/>
                    </svg>
                  </span>
                </a>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </nav>
{% endif %}