{% if post.toc %}

<nav id="toc" class="m-4 mx-auto max-w-md sm:border border-gray-200 rounded-lg overflow-hidden">
  <p class="p-4 text-center opacity-70">Table of contents:</p>
  <ol class="w-full list-decimal divide-y divide-gray-200 list-inside">
    {% for item in post.toc %}
      <li class="p-2 px-4 text-xs whitespace-nowrap overflow-ellipsis overflow-hidden">
        <a href="#{{ loop.index }}" class="_noaf uppercase">{{ item | safe }}</a>
      </li>
    {% endfor %}
  </ol>
</nav>

{% endif %}
