<div x-data="trivia()" x-init="loadQuestions" class="p-8 col-span-full">
  <p class="text-base text-center font-semibold leading-7 text-gray-400">Trivia</p>

  <template x-for="(question, i) in answered">
    <a href="https://quiz.allwomenstalk.com/trivia/food/" class="mx-auto max-w-2xl text-center px-0 py-6">
      <h2 class="text-3xl my-2 font-bold tracking-tight text-gray-900 sm:text-4xl" x-text="question.question"></h2>
      <div class="my-2 space-y-2 grid grid-cols-2 gap-4">
        <template x-for="(option, index) in question.options" :key="index">
          <div class="bg-pink-600 text-white px-4 py-2 rounded" x-text="option" disabled="disabled"></div>
        </template>
      </div>
    </a>
  </template>
</div>

<script>
  // Alpine.js object
  function trivia() {
    const apiUrl = 'https://us-east-1.aws.data.mongodb-api.com/app/azoio-evvkb/endpoint/trivia'; // Replace this with the actual URL of your API

    return {
      answered: [],

      // Function to fetch the questions from the API
      async fetchQuestions() {
        try {
          const response = await fetch(apiUrl);
          const data = await response.json();
          console.log(data)
          return [data];
        } catch (error) {
          console.error('Error fetching questions:', error);
          return [];
        }
      },

      // Function to load and display the questions on the page
      async loadQuestions() {
        const questions = await this.fetchQuestions();
        this.answered = questions;
      }
    };
  }
</script>