<div x-data="trivia()" x-init="loadQuestions" class="p-8 col-span-full mx-auto text-center">
  <p x-text="title" class="text-base text-center font-semibold leading-7 text-gray-400">Trivia</p>

  <template x-for="(question, i) in answered">
    <button @click="open()" class="mx-auto max-w-2xl text-center px-0 py-6">
      <h2 class="text-3xl my-2 font-bold tracking-tight text-gray-900 sm:text-4xl" x-text="question.question"></h2>
      <div class="my-2 space-y-2 grid grid-cols-2 gap-4 max-w-md mx-auto">
        <template x-for="(option, index) in question.options" :key="index">
          <div class="bg-pink-600 text-white px-4 py-2 rounded" x-text="option" disabled="disabled"></div>
        </template>
      </div>
    </button>
  </template>
</div>

<script>
  // Alpine.js object
  function trivia() {
    const apiUrl = 'https://us-east-1.aws.data.mongodb-api.com/app/azoio-evvkb/endpoint/trivia'; // Replace this with the actual URL of your API

    return {
      answered: [],
      title: '',
      slug: '',

      // Function to fetch the questions from the API
      async fetchQuestions() {
        try {
          const response = await fetch(apiUrl);
          const data = await response.json();
          console.log(data)
          return [data];
        } catch (error) {
          console.error('Error fetching questions:', error);
          return [];
        }
      },
      // open and record click
      open() {
        console.log(this.answered[0]._id)
        try {
          // record click 
          fetch(apiUrl+"?action=click&questionId="+this.answered[0]._id)
            .then(response => response.json())
            .then(
              result => {
                {# console.log(result) #}
                window.location.href = "https://quiz.allwomenstalk.com/trivia/"+this.slug;
              }
            )
        } catch (error) {
          console.error('Error fetching questions:', error);
          return [];
        }
      },
      // Function to load and display the questions on the page
      async loadQuestions() {
        const questions = await this.fetchQuestions();
        this.title = questions[0].title + ' Trivia';
        this.answered = questions;
        this.slug = questions[0].category;
      }
    };
  }
</script>