{# {% if post.videos and post.videos.length > 0 %} #}

  {% from "partials/videosgrid.njk" import videosGrid %}

  {{ videosGrid(false) }}

  <script>
    function videos() {
      return {
        list: [],
        displayedVideos: [],
        currentVideoId: '',
        showVideo: false,
        loadAmount: 3,

        init() {
          this.loadVideos();
        },

        loadVideos() {
          const postVideosUrl = `https://pub-24af77b4388c41c18c367526fb612109.r2.dev/{{post.id}}.json`;
          const categoryVideosUrl = `https://pub-24af77b4388c41c18c367526fb612109.r2.dev/{{post.category}}.json`;

          const fetchVideos = url => fetch(url)
            .then(response => {
              if (!response.ok) throw new Error('Not found');
              return response.json();
            });

          fetchVideos(postVideosUrl)
            .catch(() => fetchVideos(categoryVideosUrl))
            .then(data => {
              console.log('Video list:', data);
              this.videos = data || [];
              this.shuffleList();
              this.displayedVideos = this.videos.slice(0, this.loadAmount);
              this.currentVideoId = this.displayedVideos[0]?.videoId || null;
            })
            .catch(() => {
              this.videos = [];
            });
        },


        shuffleList() {
          this.list = this.list.sort(() => Math.random() - 0.5); // Simple shuffle
        },

        updateMainVideo(videoId) {
          this.showVideo = false;
          this.currentVideoId = videoId;
          this.$nextTick(() => {
            this.showVideo = true;
          });
          beacontrack({ type: 'video', action:1,  post_id: '{{post.id}}', item: videoId })

        },

        loadMore() {
          const newLoadAmount = this.loadAmount + 3;
          this.displayedVideos = this.list.slice(0, newLoadAmount);
          this.loadAmount = newLoadAmount; // Update loadAmount to new load amount
        }
      }
    }
  </script>

{# {% endif %} #}