
{% macro videosGrid(showvideo) %}

<div x-data="videos()" x-show="list" x-init="showVideo={{showvideo}}" x-cloak  class="mx-auto my-4 max-w-2xl px-4 sm:px-8 h-min-56">
  <h3 class="text-2xl font-semibold mb-4">Related Videos <span class="sr-only">about {{post.title}}</span></h3>
  <template x-if="showVideo">
    <div class="my-4">
      <amp-youtube 
        width="480" 
        height="270" 
        class="w-full rounded-xl" 
        layout="responsive" 
        :data-videoid="currentVideoId" 
        data-param-modestbranding="1" 
        data-param-rel="0" 
        autoplay>
      </amp-youtube>
    </div>
  </template>

  <div class="grid grid-cols-3 max-w-2xl mx-auto gap-4">
    <template x-for="(item, index) in displayedVideos" :key="index">
      <div class="video relative hover:cursor-pointer" @click="updateMainVideo(item.videoId)">
        <img :src="item.thumbnails.medium.url" :alt="item.title" class="rounded-xl w-full">
        <div class="absolute inset-0 -mt-6 flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12 p-0 text-black bg-white rounded-full opacity-70">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z" clip-rule="evenodd"/>
          </svg>
        </div>
        <h3 class="h-6 overflow-hidden text-xs overflow-ellipsis whitespace-nowrap" x-text="item.title"></h3>
      </div>
    </template>
  </div>


  <div x-show="displayedVideos.length<list.length" class="text-center py-4">
    <button type="button" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" @click="loadMore()">
      More Videos
    </button>
  </div>
</div>

{% endmacro %}

