{% if post.videos %}

{% from "partials/videosgrid.njk" import videosGrid %}

{{ videosGrid(false) }}

<script>
  function videos() {
    return {
      list: {{ post.videos | shuffle | slicearr(9) | dump | safe }},
      displayedVideos: [],
      currentVideoId: '',
      showVideo: false,
      loadAmount: 3,

      init() {
        this.shuffleList();
        this.displayedVideos = this.list.slice(0, this.loadAmount);
        this.currentVideoId = this.displayedVideos[0].videoId;
        
      },

      shuffleList() {
        this.list = this.list.sort(() => Math.random() - 0.5); // Simple shuffle
      },

      updateMainVideo(videoId) {
        this.showVideo = false;
        this.currentVideoId = videoId;
        this.$nextTick(() => {
          this.showVideo = true;
        });
        beacontrack({ type: 'video', action:1,  post_id: '{{post.id}}', item: videoId })

      },

      loadMore() {
        const newLoadAmount = this.loadAmount + 3;
        this.displayedVideos = this.list.slice(0, newLoadAmount);
        this.loadAmount = newLoadAmount; // Update loadAmount to new load amount
      }
    }
  }
</script>

{% endif %}