<div class = "max-w-xl mx-auto">
<iframe srcdoc="<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://quiz.allwomenstalk.com/site.css'>
</head>
<body>
    <div id='quizwidget'></div>
    <script>
        var quizid = '6467f08de92ba934590d25b8';
    </script>
    <script src='https://quiz.allwomenstalk.com/embed.js'></script>
</body>
</html>" width="100%" height="630" scrolling="no" frameBorder="0"></iframe>
</div>
